<span class="govuk-caption-xl">Calculate import duties</span>
<h1 class="govuk-heading-l">Enter import quantity</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>
            The duties payable on this commodity are dependent on the quantity, weight or 
            volume of goods that you are importing. Enter the units of the goods that you are
            importing in the boxes below.
        </p>

        <div class="govuk-form-group">
            <label class="govuk-label b" for="width-10">What is the net weight of the goods you will be importing?</label>
            <label class="govuk-hint" for="width-10">Enter the value in kilogrammes (net)</label>
            <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                <div class="govuk-input__suffix" aria-hidden="true">kg (net)</div>
            </div>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label b" for="width-10">What is the percentage of sucrose (Brix) in your goods?</label>
            <label class="govuk-hint" for="width-10">If you do not know the percentage sucrose content (Brix value),
                check the footnotes for the commodity to identify how to calculate it.</label>
            <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                <div class="govuk-input__suffix" aria-hidden="true">%</div>
            </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </div>
</div>