<div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button onclick="javascript:window.print()" class="govuk-link govuk-body-s gem-c-print-link__button" data-module="ga4-event-tracker print-link"
        data-ga4="{&quot;event_name&quot;:&quot;print_page&quot;,&quot;type&quot;:&quot;Print this page&quot;,&quot;index&quot;:1,&quot;index_total&quot;:2,&quot;section&quot;:&quot;Contents&quot;}"
        data-ga4-event-tracker-module-started="true" data-print-link-module-started="true">Print this page</button>
</div>