<h2 id="contact-details" class="govuk-heading-m">Contact details</h2>
<div class="address govuk-inset-text">
    <p>
        Tariff Classification
        <br>Customs Directorate
        <br>10th Floor South East
        <br>Alexander House
        <br>21 Victoria Avenue
        <br>Southend-on-Sea
        <br>Essex SS99 1AA
    </p>
</div>

<p>Email: <a href="mailto:tariff.classification@hmrc.gov.uk" class="govuk-link">tariff.classification@hmrc.gov.uk</a></p>
<p>This Tariff notice is published for information purposes only.</p>