{% extends "layout.html" %}
{% block pageTitle %}
  Trade Tariff: Search by additional code
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/sections"
    },
    {
      text: "Tools",
      href: "/tools"
    },
    {
      text: "Additional codes",
      href: "#"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  {% include "includes/language_selector.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-xl">
        {{ context.title }}
        {# {% include "includes/scope_switcher_panel.html" %} #}
      </span>
      <h1 class="govuk-heading-l">Search for additional codes</h1>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What are additional codes?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Additional codes are used on the tariff for a number of purposes. The first character of the additional
          code determines the type of activity it is intended to influence.</p>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">First character</th>
                <th scope="col" class="govuk-table__header">Meaning</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">These codes influence duties, providing preferential tariff treatment under certain circumstances</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">These codes impact whether or not a prohibition is to be applied</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">These codes impact whether or not a restrictive measure is to be applied</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">7</td>
                <td class="govuk-table__cell">Meursing codes (Northern Ireland tariff only)</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8, A, B or C</td>
                <td class="govuk-table__cell">These codes relate to exporting company for determining applicable anti-dumping or anti-subsidy duty.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">V</td>
                <td class="govuk-table__cell">These codes impact which VAT rate is due</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">X</td>
                <td class="govuk-table__cell">These codes impact which excise rate is due</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

      <p>
        To search for additional codes, and the measures to which they apply, enter either a
        four-digit additional code or words from the additional code in the fields below.
      </p>

      {{ govukInput({
        label: {
          text: "Additional code",
          classes: "b"
        },
        hint: {
          text: "Additional codes are made up of 4 alphanumeric digits. Enter the 4-digit code here."
        },
        classes: "govuk-input--width-10",
        id: "code",
        name: "code"
      }) }}

      {{ govukInput({
        label: {
          text: "Additional code description",
          classes: "b"
        },
        hint: {
          text: "Use this field if you know a key phrase included in the additional code description."
        },
        classes: "govuk-input--width-20",
        id: "description",
        name: "description"
      }) }}

      {{ govukButton({
  text: "Search"
}) }}
      <!--
I	Surveillance certificate/licence/ document issued by one of the Member States
K	Tariff quota
L	Import certificate/licence/document
N	UN/EDIFACT certificates
P	Ingredients
R	Export refunds
T	T-Document
U	Proofs of origin
X	Export licence
Y	Particular provisions
Z	More certificates
//-->
    </div>
  </div>

{% endblock %}
</html>