{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/sections/" + context.scope_id
    },
    {
      text: "Tools",
      href: "/tools/" + context.scope_id
    },
    {
      text: "Certificates",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">
                {{ context.title }}
                {% include "includes/scope_switcher_panel.html" %}
            </span>
            <h1 class="govuk-heading-l">Search by certificate, licence or document</h1>

            {{ govukInsetText({
              text: "Search for certificates, licences and other document codes and the commodities which reference them.
              Document codes may be needed to complete your import or export declaration."
            }) }}

            {# {{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Sort by"
  },
  items: [
    {
      value: "9",
      text: "9 - National Document"
    },
    {
      value: "A",
      text: "A - Certificate of authenticity",
      selected: true
    },
    {
      value: "C",
      text: "C - Other certificates"
    },
    {
      value: "D",
      text: "D - Anti-dumping/countervailing document"
    },
    {
      value: "E",
      text: "E - Export certificate/licence/document from country of origin"
    },
    {
      value: "H",
      text: "H - HANDI, LOOMS certificate"
    },
    {
      value: "I",
      text: "I - Surveillance certificate/licence/ document issued by one of the Member States"
    },
    {
      value: "P",
      text: "P - UN/EDIFACT certificates"
    }
  ]
}) }} #}

            {{ govukInput({
  label: {
    text: "Certificate code"
  },
  hint: {
    text: "Enter the 4 digit certificate code"
  },
  classes: "govuk-input--width-5",
  id: "certificate_code",
  name: "certificate_code"
}) }}

            {{ govukInput({
  label: {
    text: "Description"
  },
  hint: {
    text: "Enter key terms from the certificate description"
  },
  classes: "govuk-input--width-20",
  id: "description",
  name: "description"
}) }}

            {{ govukButton({
  text: "Search for a certificate",
  href: "/tools/certificates_results"
}) }}

        </div>
    </div>

{% endblock %}
</html>