{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/sections/" + context.scope_id
            },
            {
                text: "Tools",
                href: ""
            }
        ]
    }) }}
{% endblock %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-xl">
                {{ context.title }}
            </span>
            <h1 class="govuk-heading-l">Measure types</h1>
            <p>This table illustrates the correlation between the CDS measure types, the
            <a href="https://www.gov.uk/government/publications/tax-types-for-data-element-43-of-the-customs-declaration-service">
                Tax types for Data Element 4/3
            </a> and the <a href="https://www.gov.uk/government/publications/preference-codes-for-data-element-417-of-the-customs-declaration-service">
            Preference codes for Data Element 4/17 </a>
            of the Customs Declaration Service (CDS).</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list govuk-!-margin-bottom-6">
                {% for measure_type_class in measure_types["measure_type_classes"] %}
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#{{ measure_type_class | linkify }}">{{ measure_type_class }}</a>
                    </li>
                {% endfor %}
            </ol>

            {% set last_measure_type_class = "dummy" %}
            {% for measure_type in measure_types["data"] %}
                {% set my_measure_type_class = measure_type.attributes.measure_type_class %}
                {% if my_measure_type_class != last_measure_type_class %}
                    {% if last_measure_type_class != "dummy" %}
                    </tbody>
                </table>
                <p><a href="#top">Back to top</a></p>
            {% endif %}
            <h2 id="{{ my_measure_type_class | linkify }}" class="govuk-heading-l">{{ my_measure_type_class }}</h2>
            <table class="govuk-table xgovuk-table--m">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" style="width:5%">Measure type ID</th>
                        <th scope="col" class="govuk-table__header" style="width:25%">Description</th>
                        <th scope="col" class="govuk-table__header" style="width:40%">Preference codes</th>
                        <th scope="col" class="govuk-table__header" style="width:40%">Tax type</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% endif %}
                {% set last_measure_type_class = my_measure_type_class %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ measure_type.id }}</td>
                    <td class="govuk-table__cell">
                        <a href="/measure_type/{{ measure_type.id }}/none">
                            {{ measure_type.attributes.description }}
                        </a>
                    </td>
                    <td class="govuk-table__cell">
                        {% if measure_type.attributes.preference_codes | length > 0 %}
                            {% for preference_code, preference_code_object in measure_type.attributes.preference_codes %}
                                <div class="tab_container">
                                    <div class="identifier">{{ preference_code }}</div>
                                    <div class="description">
                                        <p>{{ preference_code_object.description | safe }}</p>
                                        {% if measure_type.attributes.preference_codes | length > 1 %}
                                            <p class="govuk-body--s secondary">{{ preference_code_object.rationale | safe }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Not applicable</p>
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {% if measure_type.attributes.tax_types | length > 0 %}
                            {% for tax_type, description in measure_type.attributes.tax_types %}
                                <div class="tab_container">
                                    <div class="identifier">{{ tax_type }}</div>
                                    <div class="description">{{ description | safe }}</div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Not applicable</p>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}