{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/sections/" + context.scope_id
            },
            {
                text: "Tools",
                href: ""
            }
        ]
    }) }}
{% endblock %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">
                {{ context.title }}
                {% include "includes/scope_switcher_panel.html" %}
            </span>
            <h1 class="govuk-heading-l">Tariff tools</h1>

            <ul class="govuk-list mb10">
                <li>
                    <a href="{{ context.scope_id_slash }}tools/preferences">Preferences</a>
                    <br>Words go here ...
                </li>
                {% if context.scope_id != "xi" %}
                    <li>
                        <a href="{{ context.scope_id_slash }}tools/quota_search">First come, first served quotas</a>
                        <br>Search for tariff quotas, including daily updated balances.
                    </li>
                    <li>
                        <a href="{{ context.scope_id_slash }}tools/licenced_quotas">Licenced quotas</a>
                        <br>Search for tariff quotas, including daily updated balances.
                    </li>
                {% endif %}
                <li>
                    <a href="{{ context.scope_id_slash }}tools/certificates">Certificates, licences and documents</a>
                    <br>Search for certificates, licences and other document codes.
                </li>
                <li>
                    <a href="{{ context.scope_id_slash }}tools/additional_codes">Additional codes</a>
                    <br>Search for additional codes. Additional codes are used on the tariff for a number of purposes
                    to help you to classify goods accurately on your customs declaration.
                </li>
                <li>
                    <a href="{{ context.scope_id_slash }}tools/chemicals">Chemicals</a>
                    <br>Search the tariff for chemicals by <abbr title="Chemical Abstracts Service">CAS</abbr> Registry Number (RN)
                </li>
                <li>
                    <a href="{{ context.scope_id_slash }}tools/footnotes">Footnotes</a>
                    <br>Search for footnotes
                </li>
                {% if context.scope_id == "xi" %}
                    <li>
                        <a href="{{ context.scope_id_slash }}meursing/">Meursing code finder</a>
                        <br>Find the Meursing code for your composite agrifood
                </li>
                {% endif %}
                {# <li>
                    <a href="/exchange_rates">Exchange rates</a>
                    <br>View current and past exchange rates
                </li> #}
            </ul>
            {# {{ context.scope_id_slash }} #}
        </div>
    </div>
{% endblock %}