{% extends "layout.html" %}
{% block pageTitle %}
   Check simplified procedure value rates for fresh fruit and vegetables 
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/sections/" + context.scope_id
    },
    {
      text: "Tools",
      href: "/tools/" + context.scope_id
    },
    {
      text: "Simplified procedure value rates",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
  {% include "includes/language_selector.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        {{ context.title }}
        {# {% include "includes/scope_switcher_panel.html" %} #}
      </span>
      <h1 class="govuk-heading-l"> Check simplified procedure value rates for fresh fruit and vegetables </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m" id="when-to-use-a-simplified-procedure-value">When to use a simplified procedure value</h2>

      <p>If you import whole fruit or vegetables into the UK on a consignment basis you may be able to <a href="https://www.gov.uk/guidance/how-to-value-your-imports-for-customs-duty-and-trade-statistics#simp-val" class="govuk-link">use a simplified procedure value</a> using the <a href="https://www.gov.uk/government/publications/notice-252-valuation-of-imported-goods-for-customs-purposes-vat-and-trade-statistics/notice-252-valuation-of-imported-goods-for-customs-purposes-vat-and-trade-statistics#method-4" class="govuk-link">method 4 valuation</a> to declare the produce.</p>

      <h2 class="govuk-heading-m" id="goods-that-are-excluded">Goods that are excluded</h2>

      <p>Fruit or vegetable products that are cut and diced before they’re imported are excluded from the scheme.</p>

      <p>You cannot use the simplified procedure value if there is a sale for export and the transaction value is known. Those goods must be valued using <a href="https://www.gov.uk/government/publications/notice-252-valuation-of-imported-goods-for-customs-purposes-vat-and-trade-statistics/notice-252-valuation-of-imported-goods-for-customs-purposes-vat-and-trade-statistics#method-1" class="govuk-link">valuation method 1</a>.</p>

      <h2 class="govuk-heading-m" id="rates">Rates for period {{ period.from | format_date('D MMM YYYY') }} to {{ period.to | format_date('D MMM YYYY') }}</h2>

      <p>Simplified procedure value rates change every 14 days. You may only use the rate that applies to the produce you are importing within the correct 14-day period.</p>
      {% include "tools/includes/spv_date_selector.html" %}

      <p>The following goods with simplified procedure value rates are listed alphabetically by 'Description of goods'.</p>

      <p>Click on the simplified procedure code to see the applicable rate for that code over time.</p>

      <table class="govuk-table govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row sticky">
            <th scope="col" class="govuk-table__header">Simplified procedure code</th>
            <th scope="col" class="govuk-table__header">Commodity code(s)</th>
            <th scope="col" class="govuk-table__header">Description of goods</th>
            <th scope="col" class="govuk-table__header r">Value per 100 kg</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for key, spv_data in spvs %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="/tools/unit_prices_by_code/{{ key }}">{{ key }}</a>
              </td>
              <td class="govuk-table__cell nw">
                {% for commodity in spv_data["commodities"] %}
                  <a href="https://www.trade-tariff.service.gov.uk/search?q={{ commodity }}">{{ commodity }}</a><br>
                {% endfor %}
              </td>
              <td class="govuk-table__cell">{{ spv_data["label"] }}</td>
              <td class="govuk-table__cell r">
                {% if spv_data["rate"] != "" %}
                  {{ spv_data["rate"] }}
                {% else %}
                —
              {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "tools/includes/spv_date_selector.html" %}

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "tools/includes/spv_includes.html" %}
    </div>
  </div>

{% endblock %}
</html>