<p class="b">Instructions for entering data into CHIEF and CDS</p>
<ul class="govuk-list govuk-list--bullet">
    <li>The instructions above are intended to aid completion of Data Element 2/3 in CDS and Box 44 in CHIEF 
    and are derived from
        <a target="_blank" href="https://www.gov.uk/government/publications/data-element-23-documents-and-other-reference-codes-union-of-the-customs-declaration-service-cds">Appendix 5a codes (Union)</a>
        and
        <a target="_blank" href="https://www.gov.uk/guidance/data-element-23-documents-and-other-reference-codes-national-of-the-customs-declaration-service-cds">Appendix 5a (National codes)</a>
        and from
        <a target="_blank" href="https://www.gov.uk/government/publications/uk-trade-tariff-document-certificate-and-authorisation-codes-for-harmonised-declarations"> CHIEF: document, certificate and authorisation codes</a>.</li>
    <li>Document status code definitions are derived from <a href="https://www.gov.uk/guidance/data-element-23-document-status-codes-of-the-customs-declaration-service-cds"> Data Element 2/3: Document Status Codes of the Customs Declaration Service (CDS)</a>.</li>
    {# <li>To change your preferences #}
</ul>