<h3 class="govuk-heading-l">Excise duty on beer from small breweries</h1>
<p class="govuk-inset-text">Excise code 440 - Beer made in the UK – small brewery beer eligible to reduced rates (variable rate, that is, annual production more than 5,000 hectolitres but not exceeding for 60,000 hectolitres)</p>
<p>Small Brewers Relief (<abbr title="Small Brewers Relief">SBR</abbr>) provides for reduced rates 
of beer duty for small brewers. <!--It was first introduced in 2002 and is sometimes referred to in the industry as 
“progressive beer duty”.//--></p>
<style type="text/css">
ul li b, p b {font-weight:normal}
</style>

<p><abbr title="Small Brewers Relief">SBR</abbr> is available to any brewer that produced less than 60,000 hectolitres 
(hL) in the previous calendar year and that estimates it will produce less than 
60,000 hL in the current year. If a brewery is new and has not made a full 
year’s production, an estimate for production can be provided as a basis to 
claim <abbr title="Small Brewers Relief">SBR</abbr>.</p>

<p>The reduced rate of beer duty for such brewers provided by <abbr title="Small Brewers Relief">SBR</abbr> is as follows, 
where <strong>P</strong> represents the previous year'’'s total production in hL: <p>
<ul class="govuk-list govuk-list--bullet">
    <li>If the brewery produced <strong>5,000 hL or less</strong>, the brewery receives a <strong>50% discount</strong> off the main beer duty rate. </li>
    <li>If the brewery produced <strong>more than 5,000 hL but not more than 30,000 hL</strong>, the brewery pays a percentage equal to: <strong>(P − 2500) / P</strong></li>
    <li>If the brewer produced <strong>more than 30,000 hL but not more than 60,000 hL</strong>, the brewery pays a percentage equal to: <strong>(P − 2500 + ((P − 30000) * 0.0833)) / P</strong></li>
</ul>


<p>Find out more about <a href="https://www.gov.uk/government/publications/excise-notice-226-beer-duty/excise-notice-226-beer-duty--2#small-brewery-beer">small brewery relief</a></p>