<h2 class="govuk-heading-m">The absorption principle</h2>
<p>
    <em>Also known as the 'roll-up' or intermediate materials provision.</em>
</p>

<p>Once a part or intermediate material obtains originating status under an FTA, it is considered to be 100% originating when used for further processing even if inputs used for the production of this part or intermediate material were not originating.</p>

<p>Once the originating status is obtained, the non-originating inputs are fully absorbed and not taken into account. In other words, the value of non-originating materials used in the production of the good will be disregarded once this good obtains originating status.</p>

<div class="govuk-inset-text">
    <p><strong>Example of the absorption principle</strong></p>
    <p>Part A is made of non-originating materials. The rule of origin for this part requires a change in tariff classification (CTC rule).</p>
    <p>The rule of origin is met and part A is considered originating.</p>
    <p>It is then used to manufacture the final product B which will be exported to an FTA partner.</p>
    <p>The rule of origin for the final product B requires non-originating materials not to exceed 40% of the value of the product (VA rule). For the calculation of regional value content part A is treated as 100% originating based on the roll-up principle as all the non-originating materials used to produce it were absorbed once part A obtained originating status.</p>
</div>
