<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Paragraph 5 of Part Two, Section 1, of the Tariff of the United Kingdom
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>The following Rules shall apply in respect of the goods referred to therein:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Camera cases, musical instrument cases, gun cases, drawing instrument cases,
          necklace cases and similar containers, specially shaped or fitted to contain a specific
          article or set of articles, suitable for long-term use and presented with the articles for
          which they are intended, shall be classified with such articles when of a kind normally sold
          therewith. This Rule does not, however, apply to containers which give the whole its
          essential character;
      </li>
      <li>Subject to these provisions above, packing materials and packing containers
          presented with the goods therein shall be classified with the goods if they are of a kind
          normally used for packing such goods. However, this provision is not binding when such
          packing materials or packing containers are clearly suitable for repetitive use
      </li>
    </ul>
  </div>
</details>