<div id="quota_{{ measure.order_number_id }}" class="modal modal_commodity">
    <h2 class="govuk-heading govuk-heading-m govuk-!-margin-top-4">Quota {{ measure.order_number_id }}</h1>
    <table class="govuk-table govuk-table--m">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Quota order number</th>
                <td class="govuk-table__cell">{{ measure.order_number_id }}</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Current balance</th>
                <td class="govuk-table__cell">1234 kilograms</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Opening balance</th>
                <td class="govuk-table__cell">1234 kilograms</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Status</th>
                <td class="govuk-table__cell">Open</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Start and end dates</th>
                <td class="govuk-table__cell">1 Apr 2021 to 30 Jun 2021</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Last allocation date</th>
                <td class="govuk-table__cell">1 May 2021</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Suspension period</th>
                <td class="govuk-table__cell">n/a</th>
            </tr>
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Blocking period</th>
                <td class="govuk-table__cell">n/a</th>
            </tr>
        </tbody>
    </table>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">View recent quota balance updates</span>
        </summary>
        <div class="govuk-details__text">
            <table class="govuk-table govuk-table-s">
                {# <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption> #}
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Date updated</th>
                        <th scope="col" class="govuk-table__header">Old balance</th>
                        <th scope="col" class="govuk-table__header">New balance</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">1 March 2022</td>
                        <td class="govuk-table__cell">1,200,300 kg</td>
                        <td class="govuk-table__cell">1,100,100 kg</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">28 February 2022</td>
                        <td class="govuk-table__cell">1,100,100 kg</td>
                        <td class="govuk-table__cell">1,000,100 kg</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">27 February 2022</td>
                        <td class="govuk-table__cell">1,100,100 kg</td>
                        <td class="govuk-table__cell">1,000,100 kg</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">26 February 2022</td>
                        <td class="govuk-table__cell">1,100,100 kg</td>
                        <td class="govuk-table__cell">1,000,100 kg</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">25 February 2022</td>
                        <td class="govuk-table__cell">1,100,100 kg</td>
                        <td class="govuk-table__cell">1,000,100 kg</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </details>

    <p>In an effort to facilitate UK importers HMRC endeavours to keep quotas 'OPEN' where possible, therefore the
        information displayed above may differ slightly from the current UK position. If you require further
        information contact the Tariff Quota Management Team by email:
        <a href="mailto:tariff.management@hmrc.gov.uk">tariff.management@hmrc.gov.uk</a>.
    </p>
</div>