<span class="govuk-caption-l">Generalised System of Preferences</span>
<h2 class="govuk-heading-m" id="psr">
                        Product-specific rules for commodity 0302111000
                        </h2>
<p>If your product has been produced using any non-originating materials, the product has to fulfil the following product-specific rule to be considered originating in the EU or .</p>
<p>If there are alternative rules, your product needs to comply with only one of them.</p>
<table class="govuk-table govuk-table--m roo_table">
    <!--<caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>//-->
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:15%">Heading</th>
            <th scope="col" class="govuk-table__header" style="width:35%">Description</th>
            <th scope="col" class="govuk-table__header" style="width:50%">Rule</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Chapter 3</td>
            <td class="govuk-table__cell">Fish and crustaceans, molluscs and other aquatic invertebrates</td>
            <td class="govuk-table__cell">
                <p>Manufacture in which all the materials of Chapter 3 used are wholly obtained</p>
            </td>
        </tr>

    </tbody>
</table>

<!-- Start how to read / intro notes //-->
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">How to read rules of origin</span>
    </summary>

    <div class="govuk-details__text">

        <p>The rules of origin table contains:</p>
        <ul class="govuk-list--bullet">
            <li>the product classification heading ('HS heading') or chapter number (column 1)</li>
            <li>a description of the product, or the headings / subheadings covered by the rules (column 2)</li>
            <li>a description of how non-originating materials must be worked or processed to get country of origin status (column 3)</li>
        </ul>

        <p>For each row:</p>
        <ul class="govuk-list--bullet">
            <li>check column 1 to find the product classification heading or chapter number for the product being exported</li>
            <li>check column 2 to find the description that applies to the product</li>
            <li>check column 3 <!--(and 4 if present)//--> to see how the product must be worked or processed to gain country of origin status</li>
        </ul>
        <p>Unless preceded by ‘ex’, the rules in column 3 <!--(or 4 if present)//--> apply to all products that come under the headings and chapters in column 1.</p>
        <p>If the heading in column 1 starts with ‘ex’, the rules in column 3 <!--(and 4 if present)//--> will only apply to the product as described in column 2.</p>

        <h2 class="govuk-heading-m">Introductory notes</h2>
        <h3 class="govuk-heading-s" id="Note 1:">Note 1:</h3>
        <p>The list sets out the conditions required for all products to be considered as sufficiently worked or processed within the meaning of Article 8 of the Protocol.</p>
        <h3 class="govuk-heading-s" id="Note 2:">Note 2:</h3>
        <ol class="govuk-list govuk-list--number">
            <li>
                <p>The first two columns in the list describe the product obtained. The first column gives the heading number or chapter number used in the Harmonized System and the second column gives the description of goods used in that system for that heading or chapter. For each entry in the first two columns a rule is specified in columns 3 or 4 and 5 or 6. Where, in some cases, the entry in the first column is preceded by an "ex", this signifies that the rules in columns 3 or 4 and 5 or 6 apply only to the part of that heading as described in column 2.</p>
            </li>
            <li>
                <p>Where several heading numbers are grouped together in column 1 or a chapter number is given and the description of products in column 2 is therefore given in general terms, the adjacent rules in columns 3 or 4 and 5 or 6 apply to all products which, under the Harmonized System, are classified in headings of the chapter or in any of the headings grouped together in column 1.</p>
            </li>
            <li>
                <p>Where there are different rules in the list applying to different products within a heading, each indent contains the description of that part of the heading covered by the adjacent rules in columns 3 or 4 and 5 or 6.</p>
            </li>
            <li>
                <p>Where, for an entry in the first two columns, a rule is specified in both columns 3 or 4 and 5 or 6, the exporter may opt, as an alternative, to apply either the rule set out in column 3 or that set out in column 4 or the rule set out in column 5 or that set out in column 6. If no origin rule is given in column 4 or 6, the rule set out in column 3 or 5 has to be applied.</p>
            </li>
        </ol>
        <h3 class="govuk-heading-s" id="Note 3:">Note 3:</h3>
        <ol class="govuk-list govuk-list--number">
            <li>
                <p>The provisions of Article 8 of the Protocol concerning products having acquired originating status which are used in the manufacture of other products apply regardless of whether this status has been acquired inside the factory where these products are used or in another factory in the UK or in the EAC Partner State(s).</p>
                <p>Example:</p>
                <p>An engine of heading No 8407, for which the rule states that the value of the non-originating materials which may be incorporated may not exceed 40 per cent of the ex-works price, is made from "other alloy steel roughly shaped by forging" of heading No ex 7224.</p>
                <p>If this forging has been forged in the UK from a non-originating ingot, it has already acquired originating status by virtue of the rule for heading No ex 7224 in the list. The forging can then count as originating in the value calculation for the engine regardless of whether it was produced in the same factory or in another factory in the UK. The value of the non-originating ingot is thus not taken into account when adding up the value of the non-originating materials used.</p>
            </li>
            <li>
                <p>The rule in the list represents the minimum amount of working or processing required and the carrying out of more working or processing also confers originating status; conversely, the carrying out of less working or processing cannot confer originating status. Therefore, if a rule provides that non-originating material at a certain level of manufacture may be used, the use of such material at an earlier stage of manufacture is allowed and the use of such material at a later stage is not.</p>
            </li>
            <li>
                <p>Without prejudice to Note 3.2 where a rule states that "materials of any heading" may be used, materials of the same heading as the product may also be used, subject, however, to any specific limitations which may also be contained in the rule. However, the expression "manufacture from materials of any heading, including other materials of heading No …" means that only materials classified in the same heading as the product of a different description than that of the product as given in column 2 of the list may be used.</p>
            </li>
            <li>
                <p>When a rule in the list specifies that a product may be manufactured from more than one material, this means that any one or more materials may be used. It does not require that all be used.</p>
                <p>Example:</p>
                <p>The rule for fabrics of heading Nos 5208 to 5212 provides that natural fibres may be used and that chemical materials, among other materials, may also be used. This does not mean that both have to be used; it is possible to use one or the other or both.</p>
            </li>
            <li>
                <p>Where a rule in the list specifies that a product must be manufactured from a particular material, the condition obviously does not prevent the use of other materials which, because of their inherent nature, cannot satisfy the rule. (See also Note 6.3 below in relation to textiles).</p>
                <p>Example:</p>
                <p>The rule for prepared foods of heading No 1904 which specifically excludes the use of cereals and their derivatives does not prevent the use of mineral salts, chemicals and other additives which are not products from cereals.</p>
                <p>However, this does not apply to products which, although they cannot be manufactured from the particular materials specified in the list, can be produced from a material of the same nature at an earlier stage of manufacture.</p>
                <p>Example:</p>
                <p>In the case of an article of apparel of ex Chapter 62 made from non-woven materials, if the use of only non-originating yarn is allowed for this class of article, it is not possible to start from non-woven cloth – even if non-woven cloths cannot normally be made from yarn. In such cases, the starting material would normally be at the stage before yarn – that is the fibre stage.</p>
            </li>
            <li>
                <p>Where, in a rule in the list, two percentages are given for the maximum value of non-originating materials that can be used, then these percentages may not be added together. In other words, the maximum value of all the non-originating materials used may never exceed the highest of the percentages given. Furthermore, the individual percentages must not be exceeded in relation to the particular materials they apply to.</p>
            </li>
        </ol>
        <h3 class="govuk-heading-s" id="Note 4:">Note 4:</h3>
        <ol class="govuk-list govuk-list--number">
            <li>
                <p>The term "natural fibres" is used in the list to refer to fibres other than artificial or synthetic fibres. It is restricted to the stages before spinning takes place, including waste, and, unless otherwise specified, includes fibres that have been carded, combed or otherwise processed but not spun.</p>
            </li>
            <li>
                <p>The term "natural fibres" includes horsehair of heading No 0503, silk of heading Nos 5002 and 5003 as well as the wool fibres, fine or coarse animal hair of heading Nos 5101 to 5105, the cotton fibres of heading Nos 5201 to 5203 and the other vegetable fibres of heading Nos 5301 to 5305.</p>
            </li>
            <li>
                <p>The terms "textile pulp", "chemical materials" and "paper-making materials" are used in the list to describe the materials not classified in Chapters 50 to 63, which can be used to manufacture artificial, synthetic or paper fibres or yarns.</p>
            </li>
            <li>
                <p>The term "man-made staple fibres" is used in the list to refer to synthetic or artificial filament tow, staple fibres or waste, of heading Nos 5501 to 5507.</p>
            </li>
        </ol>
        <h3 class="govuk-heading-s" id="Note 5:">Note 5:</h3>
        <ol class="govuk-list govuk-list--number">
            <li>
                <p>Where for a given product in the list a reference is made to this note, the conditions set out in column 3 shall not be applied to any basic textile materials, used in the manufacture of this product, which, taken together, represent 10 per cent or less of the total weight of all the basic textile materials used. (See also Notes 5.3 and 5.4 below).</p>
            </li>
            <li>
                <p>However, the tolerance mentioned in Note 5.1 may only be applied to mixed products which have been made from two or more basic textile materials.</p>
                <p>The following are the basic textile materials:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>silk,</li>
                    <li>wool,</li>
                    <li>coarse animal hair,</li>
                    <li>fine animal hair,</li>
                    <li>horsehair,</li>
                    <li>cotton,</li>
                    <li>paper-making materials and paper,</li>
                    <li>flax,</li>
                    <li>true hemp,</li>
                    <li>jute and other textile bast fibres,</li>
                    <li>sisal and other textile fibres of the genus Agave,</li>
                    <li>coconut, abaca, ramie and other vegetable textile fibres,</li>
                    <li>synthetic man-made filaments,</li>
                    <li>artificial man-made filaments,</li>
                    <li>current conducting filaments,</li>
                    <li>synthetic man-made staple fibres of polypropylene,</li>
                    <li>synthetic man-made staple fibres of polyester,</li>
                    <li>synthetic man-made staple fibres of polyamide,</li>
                    <li>synthetic man-made staple fibres of polyacrylonitrile,</li>
                    <li>synthetic man-made staple fibres of polyimide,</li>
                    <li>synthetic man-made staple fibres of polytetrafluoroethylene,</li>
                    <li>synthetic man-made staple fibres of polyphenylene sulphide,</li>
                    <li>synthetic man-made staple fibres of polyvinyl chloride,</li>
                    <li>other synthetic man-made staple fibres,</li>
                    <li>artificial man-made staple fibres of viscose,</li>
                    <li>other artificial man-made staple fibres,</li>
                    <li>yarn made of polyurethane segmented with flexible segments of polyether whether or not gimped,</li>
                    <li>yarn made of polyurethane segmented with flexible segments of polyester whether or not gimped,</li>
                    <li>products of heading No 5605 (metallized yarn) incorporating strip consisting of a core of aluminium foil or of a core of plastic film whether or not coated with aluminium powder, of a width not exceeding 5 mm, sandwiched by means of a transparent or coloured adhesive between two layers of plastic film,</li>
                    <li>other products of heading No 5605.</li>
                </ul>
                <p>Example:</p>
                <p>A yarn of heading No 5205 made from cotton fibres of heading No 5203 and synthetic staple fibres of heading No 5506 is a mixed yarn. Therefore, non-originating synthetic staple fibres that do not satisfy the origin rules (which require manufacture from chemical materials or textile pulp) may be used up to a weight of 10 per cent of the yarn.</p>
                <p>Example:</p>
                <p>A woollen fabric of heading No 5112 made from woollen yarn of heading No 5107 and synthetic yarn of staple fibres of heading No 5509 is a mixed fabric. Therefore synthetic yarn which does not satisfy the origin rules (which require manufacture from chemical materials or textile pulp) or woollen yarn that does not satisfy the origin rules (which require manufacture from natural fibres, not carded or combed or otherwise prepared for spinning) or a combination of the two may be used provided their total weight does not exceed 10 per cent of the weight of the fabric.</p>
                <p>Example:</p>
                <p>Tufted textile fabric of heading No 5802 made from cotton yarn of heading No 5205 and cotton fabric of heading No 5210 is only a mixed product if the cotton fabric is itself a mixed fabric being made from yarns classified in two separate headings or if the cotton yarns used are themselves mixtures.</p>
                <p>Example:</p>
                <p>If the tufted textile fabric concerned had been made from cotton yarn of heading No 5205 and synthetic fabric of heading No 5407, then, obviously, the yarns used are two separate basic textile materials and the tufted textile fabric is accordingly a mixed product.</p>
            </li>
            <li>
                <p>In the case of products incorporating "yarn made of polyurethane segmented with flexible segments of polyether whether or not gimped" this tolerance is 20 per cent in respect of this yarn.</p>
            </li>
            <li>
                <p>In the case of products incorporating "strip consisting of a core of aluminium foil or of a core of plastic film whether or not coated with aluminium powder, of a width not exceeding 5 mm, sandwiched by means of an adhesive between two layers of plastic film", this tolerance is 30 per cent in respect of this strip.</p>
            </li>
        </ol>
        <h3 class="govuk-heading-s" id="Note 6:">Note 6:</h3>
        <ol class="govuk-list govuk-list--number">
            <li>
                <p>In the case of those textile products, which are marked in the list by a footnote referring to this Introductory Note, textile trimmings and accessories which do not satisfy the rule set out in the list in column 3 for the made up products concerned may be used provided that their weight does not exceed 10% of the total weight of all the textile materials incorporated.</p>
                <p>Textile trimmings and accessories are those classified in Chapters 50 to 63. Linings and interlinings are not be regarded as trimmings or accessories.</p>
            </li>
            <li>
                <p>Any non-textile trimmings and accessories or other materials used which contain textiles do not have to satisfy the conditions set out in column 3 even though they fall outside the scope of Note 3.5.</p>
            </li>
            <li>
                <p>In accordance with Note 3.5, any non-originating non-textile trimmings and accessories or other product, which do not contain any textiles, may, anyway, be used freely where they cannot be made from the materials listed in column 3.</p>
                <p>For example, if a rule in the list says that for a particular textile item, such as a blouse, yarn must be used, this does not prevent the use of metal items, such as buttons, because they cannot be made from textile materials.</p>
            </li>
            <li>
                <p>Where a percentage rule applies, the value of trimmings and accessories must be taken into account when calculating the value of the non-originating materials incorporated.</p>
            </li>
        </ol>
        <h3 class="govuk-heading-s" id="Note 7:">Note 7:</h3>
        <ol class="govuk-list govuk-list--number">
            <li>
                <p>For the purposes of heading Nos ex 2707, 2713 to 2715, ex 2901, ex 2902 and ex 3403, the "specific processes" are the following:</p>
                <ol class="govuk-list govuk-list--number">
                    <li>vacuum distillation;</li>
                    <li>redistillation by a very thorough fractionation process²;</li>
                    <li>cracking;</li>
                    <li>reforming;</li>
                    <li>extraction by means of selective solvents;</li>
                    <li>the process comprising all the following operations: processing with concentrated sulphuric acid, oleum or sulphuric anhydride; neutralisation with alkaline agents; decolourisation and purification with naturally active earth, activated earth, activated charcoal or bauxite;</li>
                    <li>polymerisation;</li>
                    <li>alkylation;</li>
                    <li>isomerisation.</li>
                </ol>
            </li>
            <li>
                <p>For the purposes of heading Nos 2710, 2711 and 2712, the "specific processes" are the following:</p>
                <ol class="govuk-list govuk-list--number">
                    <li>vacuum distillation;</li>
                    <li>redistillation by a very thorough fractionation process²;</li>
                    <li>cracking;</li>
                    <li>reforming;</li>
                    <li>extraction by means of selective solvents;</li>
                    <li>the process comprising all the following operations: processing with concentrated sulphuric acid, oleum or sulphuric anhydride; neutralisation with alkaline agents; decolourisation and purification with naturally active earth, activated earth, activated charcoal or bauxite;</li>
                    <li>polymerisation;</li>
                    <li>alkylation;
9.isomerisation;</li>
                    <li>in respect of heavy oils falling within heading No ex 2710 only, desulphurisation with hydrogen resulting in a reduction of at least 85 per cent of the sulphur content of the products processed (ASTM D 1266-59 T method);</li>
                    <li>in respect of products falling within heading No 2710 only, deparaffining by a process other than filtering;</li>
                    <li>in respect of heavy oils falling within heading No ex 2710 only, treatment with hydrogen at a pressure of more than 20 bar and a temperature of more than 250°C with the use of a catalyst, other than to effect desulphurisation, when the hydrogen constitutes an active element in a chemical reaction. The further treatment with hydrogen of lubricating oils of heading No ex 2710 (e.g. hydrofinishing or decolourisation) in order, more especially, to improve colour or stability shall not, however, be deemed to be a specific process;</li>
                    <li>in respect of fuel oils falling within heading No ex 2710 only, atmospheric distillation, on condition that less than 30 per cent of these products distils, by volume, including losses, at 300°C by the ASTM D 86 method;</li>
                    <li>in respect of heavy oils other than gas oils and fuel oils falling within heading No ex 2710 only, treatment by means of a high-frequency electrical brush-discharge.</li>
                    <li>For the purposes of heading Nos ex 2707, 2713 to 2715, ex 2901, ex 2902 and ex 3403, simple operations such as cleaning, decanting, desalting, water separation, filtering, colouring, marking, obtaining a sulphur content as a result of mixing products with different sulphur contents, any combination of these operations or like operations do not confer origin.</li>
                </ol>
            </li>
            <li>
                <p>Redistillation by a very thorough fractionation process means distillation (other than topping) by a continuous or batch process employed in industrial installations using distillates of subheadings 2710 12 11 to 2710 19 48, 2711 11 00, 2711 12 91 to 2711 19 00 , 2711 21 00 and 2711 29 00 (other than propane of a purity of 99% or more) to obtain:</p>
                <ol class="govuk-list govuk-list--number">
                    <li>
                        <p>isolated high-purity hydrocarbons (90% or more in the case of olefins, and 95% or more in the case of other hydrocarbons), mixtures of isomers having the same organic composition being regarded as isolated hydrocarbons.</p>
                        <p>Only those processes by means of which at least three different products are obtained are admissible, but this restriction does not apply in any instance where the process consists in the separation of isomers. In so far as this concerns xylenes, ethylbenzene is included with xylene isomers;</p>
                    </li>
                    <li>
                        <p>products of subheadings 2707 10 00 to 2707 30 00, 2707 50 00 and 2710 12 11 to 2710 19 48:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <p>with no overlapping of the final boiling point of one fraction and the initial boiling point of the succeeding fraction and a difference of not more than 60 °C between the temperatures at which 5 and 90% by volume (including losses) distil by the EN ISO 3405 method (equivalent to the ASTM D 86 method);</p>
                            </li>
                            <li>
                                <p>with an overlapping of the final boiling point of one fraction and the initial boiling point of the succeeding fraction and a difference of not more than 30 °C between the temperatures at which 5 and 90% by volume (including losses) distil by the EN ISO 3405 method (equivalent to the ASTM D 86 method).</p>
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>
        </ol>
        <h3 class="govuk-heading-s" id="Note 8 - General Provisions concerning certain agricultural goods">Note 8 - General Provisions concerning certain agricultural goods</h3>
        <ol class="govuk-list govuk-list--number">
            <li>
                <p>All agricultural goods falling within Chapters 6, 7, 8, 9, 10, 12 and heading 2401 which are grown or harvested in the territory of the beneficiary country shall be treated as originating in the territory of that country, even if grown from seeds, bulbs, rootstock, cuttings, grafts, shoots, buds, or other live parts of plants imported from another country.</p>
            </li>
            <li>
                <p>In cases where the content of non-originating sugar in a given product is subject to limitations, the weight of sugars of headings 1701 (sucrose) and 1702 (e.g., fructose, glucose, lactose, maltose, isoglucose or invert sugar) used in the manufacture of the final product and used in the manufacture of the non-originating products incorporated in the final product is taken into account for calculation of such limitations.</p>
            </li>
        </ol>

    </div>
</details>
<!-- End intro notes //-->

<!-- End product-specific rules //-->

<!-- Start proofs //-->

<span class="govuk-caption-l">Generalised System of Preferences</span>
<h2 id="proof" class="govuk-heading-m">Proving originating status and claiming preferential treatment</h2>

<p>The customs authority of the importing party will grant preferential tariff treatment, based on a claim made by the importer, to goods that originate in the other party that meet the conditions of the Trade Agreement.</p>

<p>A claim can be made if the importer has one of the following proofs of origin:</p>

<ul class="govuk-list govuk-list--bullet">

    <li class="govuk-!-margin-bottom-6">
        <a href="https://www.gov.uk/guidance/get-proof-of-origin-for-your-goods#eur1-and-eur-med-movement-certificates">EUR1 or EUR.MED movement certificate</a>

    </li>

    <li class="govuk-!-margin-bottom-6">
        <a href="https://www.gov.uk/guidance/get-proof-of-origin-for-your-goods#origin-declaration">Invoice declaration</a>
    </li>
</ul>