<div class="govuk-grid-row">
    {% if commodity.country_name2.length > 0 %}
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m roo_heading">
                Preferential rules of origin for trading with {{ context.country_name }}&nbsp;&nbsp;
                <img class="flag" src="/public/images/flags/{{ context.country | lower }}.png" height="20" alt="{{commodity.country_name2 }}">
            </h2>
            {% if roo.valid_rules %}
                {% if roo.scheme_count > 1 %}
                    {% include "includes/roo/commodities_roo_multiple.html" %}
                {% else %}
                    <p>
                        Preferential tariff treatment reduces the duties you are required to pay when
                        importing or exporting goods to or from {{ context.country_name }}.
                    </p>
                    <p>
                        Rules of origin are the criteria which determine the national source of a product.
                        They determine if your trade is eligible for preferential tariff treatment and
                        may influence the rules that apply to your import or export.
                    </p>

                    {% if context.scope_id != "xi" %}
                        <p>In order to qualify for preferential tariff treatment under the {{ roo.title }}, the product
                            must originate in <strong>{{ roo.origin_text }}</strong> or <strong>{{ roo.partners }}</strong>.
                        </p>
                    {% endif %}

                    {% if context.scope_id != "xi" %}
                        <div class="govuk-inset-text">
                            <h3 class="govuk-heading-s">How rules of origin could affect the import duty payable</h3>
                            <ul class="govuk-list govuk-list--bullet">
                                <li class="commodity-split">
                                    Basic third country duty = <strong>{{ commodity.third_country_duty }}</strong>
                                </li>
                                {% if commodity.preferential_tariff_duty == "" and commodity.preferential_quota_duty == "" %}
                                    <li>
                                        There is no preferential tariff duty or quota available for this commodity
                                    </li>
                                {% endif %}

                                {% if commodity.preferential_tariff_duty != null %}
                                    <li>
                                        Preferential tariff duty = 
                                        <strong class="nw_simple">{{ commodity.preferential_tariff_duty | trim_string }}</strong>
                                    </li>
                                {% endif %}

                                {% if commodity.preferential_quota_duty != null %}
                                    <li>
                                        Preferential quota duty = 
                                        <strong class="nw_simple">{{ commodity.preferential_quota_duty | trim_string }}</strong> (order number <strong class="nw_simple">{{ commodity.preferential_quota_quota }}</strong>)
                                    </li>
                                {% endif %}
                            </ul>
                            <h3 class="govuk-heading-s">How rules of origin could affect export duties</h3>
                            <p>Find out <a href="https://www.check-duties-customs-exporting-goods.service.gov.uk/commdrilld?d={{ context.country }}&ds=gtp&pc={{ commodity.data.attributes.goods_nomenclature_item_id | substring(0, 6) }}" target="_blank">more about
                            exporting comm code {{ commodity.data.attributes.goods_nomenclature_item_id | substring(0, 6) }} to {{ context.country_name }} (opens in new tab)</a>.</p>

                        </div>

                    {% else %}
                        <div class="govuk-inset-text">
                            <h3 class="govuk-heading-s">How rules of origin could affect the import duty payable</h3>
                            {# <p>Permit UK {{ context.permit_uk_roo }} | Permit XI {{ context.permit_xi_roo }}</p> #}
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">&nbsp;</th>
                                        <th scope="col" class="govuk-table__header">UK Global Tariff</th>
                                        <th scope="col" class="govuk-table__header">NI Tariff</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Third-country duty</th>
                                        <td class="govuk-table__cell">{{ commodity_uk.third_country_duty }}</td>
                                        <td class="govuk-table__cell">{{ commodity.third_country_duty }}</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Preferential tariff duty</th>
                                        <td class="govuk-table__cell">{{ commodity_uk.preferential_tariff_duty if commodity_uk.preferential_tariff_duty else "n/a" }}</td>
                                        <td class="govuk-table__cell">{{ commodity.preferential_tariff_duty if commodity.preferential_tariff_duty else "n/a" }}</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <th scope="row" class="govuk-table__header">Preferential quota duty</th>
                                        <td class="govuk-table__cell">{{ commodity_uk.preferential_quota_duty if commodity_uk.preferential_quota_duty else "n/a" }}</td>
                                        <td class="govuk-table__cell">{{ commodity.preferential_quota_duty if commodity.preferential_quota_duty else "n/a" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    {% if context.scope == "uk" %}
                        {% set title_text = "Work out if your goods meet the rules of origin" %}
                        {% set caption_text = "Use this tool to determine whether your trade fulfils the rules of origin
                        and can therefore be considered as <strong>originating</strong>." %}
                    {% else %}
                        {% set title_text = "Work out if your goods meet the rules of origin" %}
                        {% if context.permit_uk_roo == 1 and context.permit_xi_roo == 0 %}
                            {% set caption_text = "Use this tool to determine whether your trade fulfils the rules
                            of origin of the UK trade agreement and can therefore be considered as <strong>originating</strong>." %}
                        {% else %}
                            {% set caption_text = "Use this tool to determine whether your trade fulfils the rules
                            of origin of the EU trade agreement and can therefore be considered as <strong>originating</strong>." %}
                        {% endif %}
                    {% endif %}

                    {% include "includes/roo/commodities_roo_psrs.html" %}
                    {% include "includes/roo/commodities_roo_proofs.html" %}

                    {% if commodity.preferential_tariff_duty != "" or commodity.preferential_quota_duty != "" or commodity_uk.preferential_tariff_duty != "" or commodity_uk.preferential_quota_duty != "" %}
                        <h2 class="govuk-heading-m">{{ title_text }}</h2>

                        <p>{{ caption_text | safe }}</p>

                        {% if context.scope_id == "xi" %}
                            {% if context.permit_uk_roo and context.permit_uk_roo %}
                            <form action="">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                            <h1 class="govuk-fieldset__heading">Would you like to take advantage of
                                                the UK or EU preferential trade agremeent?
                                            </h1>
                                        </legend>
                                        <div class="govuk-radios" data-module="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                                <label class="govuk-label govuk-radios__label" for="where-do-you-live">UK trade agreement</label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">EU trade agreement</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                            </form>

                            {% endif %}
                        {% endif %}
                        {% if commodity.third_country_duty == "0.00 %" %}
                            <div class="grey_box">
                                <p>As the third country duty is zero, you do not need to apply for a preferential tariff or comply with preferential rules of origin.</p>
                                <p>If you would still like to continue, click the 'Check&nbsp;rules&nbsp;of&nbsp;origin' button.</p>
                            </div>
                        {% endif %}

                        {{ govukButton({
                            text: "Check rules of origin",
                            href: "/roo/trade_direction/" + commodity.data.attributes.goods_nomenclature_item_id + "/" + context.country
                        }) }}
                    {% else %}
                        <div class="grey_box">
                            <p>As there is neither a preferential tariff nor a preferential quota present
                                for this commodity, the 'Check rules of origin' tool is not available.
                            </p>
                        </div>
                    {% endif %}
                {% endif %}

                <!-- Start product-specific rules //-->
                {% if not context.show_rosa_version %}
                    {% if roo.product_specific_rules %}
                        <h2 class="govuk-heading-m" id="psr">
                        Product-specific rules for commodity {{ commodity.data.attributes.goods_nomenclature_item_id }}
                        </h2>
                        <p>If your product has been produced using any non-originating materials, the product has to fulfil
                            the following product-specific rule to be considered originating in the EU or {{ roo.partners }}.</p>
                        <p>If there are alternative rules, your product needs to comply with only one of them.</p>
                        {{ roo["product_specific_rules"] | safe }}

                        <!-- Start how to read / intro notes //-->
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">How to read rules of origin</span>
                            </summary>

                            <div class="govuk-details__text">
                                {% include "includes/how-to-use-psr.html" %}
                                <h2 class="govuk-heading-m">Introductory notes</h2>
                                {{ roo["intro_text"] | safe }}
                            </div>
                        </details>
                        <!-- End intro notes //-->
                    {% endif %}
                {% endif %}
                <!-- End product-specific rules //-->

                <!-- Start proofs //-->
                {% if not context.show_rosa_version %}
                    {% if roo.proofs %}
                        <h2 id="proof" class="govuk-heading-m">Proving originating status and claiming preferential treatment</h2>

                        <p>The customs authority of the importing party will grant preferential tariff treatment, based on a claim made by the importer, to goods that originate in the other party that meet the conditions of the Trade Agreement.</p>

                        <p>A claim can be made if the importer has one of the following proofs of origin:</p>

                        {% if roo.proofs %}
                            <ul class="govuk-list govuk-list--bullet">
                                {% for proof in roo.proofs %}
                                    <li class="govuk-!-margin-bottom-6">
                                        <a href="{{ proof.url }}">{{ proof.summary | safe }}</a>
                                        {% if proof.subtext %}
                                            <br>{{ proof.subtext | safe }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <!-- End proofs //-->

                {% if not context.show_rosa_version %}
                    {% if roo.scheme_count == 1 %}
                        <!-- Start FTA relationship //-->
                        <h2 id="relationship" class="govuk-heading-m govuk-!-margin-top-9">Trading relationship with {{ commodity.country_name2 }}</h2>
                        {{ roo["fta_intro"] | safe }}
                        <!-- End FTA relationship //-->
                    {% endif %}
                {% endif %}

            {% else %}
                <div class="govuk-inset-text">
                    <p>There is no preferential agreement in place with {{ commodity.country_name2 }}, therefore
                        preferential rules of origin are not applicable.</p>
                    <p>To view preferential rules of origin, select a country with which the UK has a trade agreement from the dropdown above.</p>
                </div>
            {% endif %}
            {% include "includes/roo/commodities_roo_non_preferential.html" %} 
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items noborder govuk-!-margin-top-2" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-list-s">
                        {% for link in roo.generic_links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                        {% for link in roo.links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                {# {% include "includes/commodities_roo_explainers.html" %} #}
            </aside>
        </div>
    {% else %}
        <!-- Start no country is selected //-->
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Preferential rules of origin</h2>
            <p>To view rules of origin, select a country with which the UK has a trade agreement from the list above.</p>
            <p>Find out more about preferential rules of origin:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a target="_blank" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin">
                        Check your goods meet the rules of origin (opens in new tab)
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.gov.uk/guidance/import-and-export-goods-using-preference-agreements">
                        Pay less Customs Duty on goods from a country with a UK trade agreement (opens in new tab)
                    </a>
                </li>
            </ul>
            {% include "includes/commodities_roo_non_preferential.html" %}
        </div>
        <!-- End no country is selected //-->
    {% endif %}
</div>