<div id="digital_assistant">
    {% if da_text == 2 %}
        <p class="govuk-!-margin-top-6">Use our
        <a target="_blank" href="https://www.tax.service.gov.uk/ask-hmrc/chat/online-services-helpdesk">Digital Assistant (opens in new tab)</a>
        to get help on a wide range of topics including classifying your goods.
    </p>
    {% else %}
        <p>Alternatively, you can use our
        <a target="_blank" href="https://www.tax.service.gov.uk/ask-hmrc/chat/online-services-helpdesk">Digital Assistant (opens in new tab)</a>
        to get help on a wide range of topics including classifying your goods.
    </p>
    {% endif %}
</div>