{{ govukFooter({
  navigation: [],
  meta: {
    items: [
      {
        href: "https://check-how-to-import-export-goods.service.gov.uk/cookies?destinationCountry=GB&tradeType=import&goodsIntent=bringGoodsToSell&userTypeTrader=true&importDeclarations=yes",
        text: "Cookies"
      },
      {
        href: "https://check-how-to-import-export-goods.service.gov.uk/accessibility-statement?destinationCountry=GB&tradeType=import&goodsIntent=bringGoodsToSell&userTypeTrader=true&importDeclarations=yes",
        text: "Accessibility statement"
      },
      {
        href: "https://check-how-to-import-export-goods.service.gov.uk/privacy-notice?destinationCountry=GB&tradeType=import&goodsIntent=bringGoodsToSell&userTypeTrader=true&importDeclarations=yes",
        text: "Privacy"
      }
    ]
  }
}) }}