{% for item in corpus %}
    {% if item.leaf == false %}
        <li class="has_children level-{{ item.number_indents }}">
            <span class="description open without_right_margin" aria-expanded="true" role="button" id="commodity-{{ item.goods_nomenclature_item_id }}">{{ item.description }}</span>
            {% if item.productline_suffix == "80" %}
                <div class='sub_heading_commodity_code_block pull-right'>
                    <span class="digits_chapter">{{ item.goods_nomenclature_item_id | substring(0, 2) }}</span>
                    <span class="digits_heading">{{ item.goods_nomenclature_item_id | substring(2, 2) }}</span>
                    <span class="digits_commodity">{{ item.goods_nomenclature_item_id | substring(4, 2) }}</span>
                    {% if item.goods_nomenclature_item_id | substring(6, 2) != "00" %}
                        <span class="digits_commodity">{{ item.goods_nomenclature_item_id | substring(6, 2) }}</span>
                    {% else %}
                        <span class="digits_commodity">&nbsp;</span>
                    {% endif %}
                    {% if item.goods_nomenclature_item_id | substring(8, 2) != "00" %}
                        <span class="digits_commodity">{{ item.goods_nomenclature_item_id | substring(8, 2) }}</span>
                    {% else %}
                        <span class="digits_commodity">&nbsp;</span>
                    {% endif %}
                </div>
            {% endif %}
            {% set corpus = item.children %}
            <ul class="govuk-list">
                {% include "./heading_include_nested.html" %}
        </ul>
    </li>
{% else %}
    <li class="level-{{ item.number_indents }}">
        <a title="View complete information for this commodity" aria-label="Commodity code {{ item.goods_nomenclature_item_id }}, {{ item.description }}" href="/{{ context.scope_id | fwdslash }}commodities/{{ item.goods_nomenclature_item_id }}">
            <div class="description open" id="commodity-{{ item.goods_nomenclature_item_id }}">{{ item.description }}xxx</div>
            <div class="commodity__info">
                <div class="vat" aria-describedby="commodity-vat-title">
                    {{ item.vat | safe }}
                </div>
                <div class="duty" aria-describedby="commodity-duty-title">
                    {{ item.third_country_duty | safe }}
                </div>
                <div class="supplementary-units" aria-describedby="commodity-supplementary-title">
                    {{ item.supplementary_unit | safe }}
                </div>
                <div class="identifier" aria-describedby="commodity-{{ item.goods_nomenclature_item_id }}">
                    <span class="digits_chapter">{{ item.goods_nomenclature_item_id | substring(0, 2) }}</span>
                    <span class="digits_heading">{{ item.goods_nomenclature_item_id | substring(2, 2) }}</span>
                    <span class="digits_commodity">{{ item.goods_nomenclature_item_id | substring(4, 2) }}</span>
                    <span class="digits_commodity">{{ item.goods_nomenclature_item_id | substring(6, 2) }}</span>
                    <span class="digits_commodity">{{ item.goods_nomenclature_item_id | substring(8, 2) }}</span>

                    {# <span class="hierarchy_identifier commodity-split">
                                    <span>0101</span><span>21</span>
                                </span> #}
                </div>
            </div>
        </a>
    </li>
{% endif %}
{% endfor %}