<h2 class="govuk-heading-m">Subscribe to Stop press notices</h2>

<p class="govuk-body-s">You can subscribe to the Online Tariff <abbr title="sfs">RSS</abbr> Stop press notices feed
to be automatically notified whenever new information is added.</p>

<h3 class="govuk-heading-s">Using the Stop press notices feed</h3>

<p class="govuk-body-s">You need to either install some software, known as an RSS reader or feed reader,
on your computer or you can subscribe to RSS feeds through your internet browser.</p>

<p class="govuk-body-s">To subscribe to the feed, right-click on the link, select Copy Shortcut or Copy
Link Location, then paste this into your RSS reader, or use a browser which supports RSS feeds.</p>

<p class="govuk-body-s">
    <a href="/feed/news_items">Add Trade Tariff stop press feed to your RSS reader</a>
</p>

<h3 class="govuk-heading-s">What is RSS?</h3>

<p class="govuk-body-s">RSS stands for Really Simple Syndication. It's a simple way to keep up to date
with changes. Rather than continually checking back to see if new information has been added to the site,
you can use RSS
to alert you each time we add something new.</p>