<article class="tariff">
    <div class="commodity-tree">
        {# <!-- Header controls start here //--> #}
        <div class="tree-controls"></div>
        <div class="commodity-tree-note">
            <span>The number following each commodity's description is its commodity code.</span>
            <em class="level">Level</em>
            <em class="description">Description</em>
            <div class="commodity-tree__additional-info">
                <em class="vat" id="commodity-vat-title">VAT</em>
                <em class="duty" id="commodity-duty-title">Third country duty</em>
                <em class="supplementary-units" id="commodity-supplementary-title">Supplementary unit</em>
                <em class="commcode">Commodity code</em>
            </div>
        </div>
        <!-- Header controls stop here //-->
        <ul class="commodities js-commodities">
            {% set corpus = heading.hierarchy %}
            {% include "./subheading_include_nested.html" %}
        </ul>
    </div>
</article>