ARTICLE 27

## Verification of origin

### Administering a verification of origin regime

1. For the purpose of ensuring the proper application of this Protocol, the Parties shall assist each other, through their customs authorities, in verifying whether goods are originating for the purposes of this Protocol, and ensuring the accuracy of claims for preferential treatment for the purposes of this Protocol.

2. A Party's request for a verification of origin concerning whether a good is originating or whether all other requirements of this Protocol are fulfilled shall be:

(a) based on risk assessment methods applied by the customs authority of the importing Party, which may include random selection; or

(b) made when the importing Party has reasonable doubts about whether the good is originating or whether all other requirements of this Protocol have been fulfilled.

### Requesting a verification of origin

3. The customs authority of the importing Party may verify whether a good is originating by requesting, in writing, that the customs authority of the exporting Party conduct a verification concerning whether a good is originating.

4. When requesting a verification of origin, the customs authority of the importing Party shall provide the customs authority of the exporting Party with:

(a) the identity of the customs authority issuing the request;

(b) the name of the exporter, producer or supplier to be verified;

(c) the subject and scope of the verification; and

(d) a copy of the origin declaration and, where applicable, any supporting documentation.

5. When appropriate, the customs authority of the importing Party may request specific documentation and information from the customs authority of the exporting Party as part of a verification of origin.


6. A request to conduct a verification of origin made by the customs authority of the importing Party shall be provided to the customs authority of the exporting Party by certified or registered mail or any other method that produces a confirmation of receipt by that customs authority.

7. The customs authority of the exporting Party shall provide the customs authority of the importing Party with a written acknowledgement of receipt (which for the avoidance of doubt may be sent by email) of this request within a period of 45 days from the date of receipt of the written request, or any other time period agreed upon by the Parties.

### Conducting a verification of origin

8. Following a request outlined in paragraph 6, the customs authority of the exporting Party shall proceed to the origin verification. For this purpose, the customs authority may, in accordance with its laws and regulations:

(a) request documentation;

(b) call for any evidence; and

(c) visit the premises of an exporter, a producer or supplier to review the records referred to in Article 26(1) and (2) and observe the facilities used in the production of the good.

9. Each Party shall provide that, if an exporter has based an origin declaration on a written statement from a producer or supplier, the exporter may arrange for that producer or supplier to provide documentation or information directly to the customs authority of the exporting Party upon request.

### Release of goods subject to a verification of origin

10. Pending the results of a verification of origin conducted pursuant to paragraph 11, the importing Party shall allow the release of the good, subject to payment of duties or provision of a guarantee in the form of a surety, a deposit or some other appropriate instrument as provided for in its laws and regulations. If, as a result of the verification, the importing Party determines that the good is an originating good, it shall grant preferential treatment to the good and refund any excess duties paid or release any guarantee provided, unless the guarantee also covers other obligations which have not been discharged.

### Completing a verification of origin

11. As soon as possible and in any event within 10 months after receiving the written request for a verification of origin, the customs authority of the exporting Party shall complete a verification, and shall:


(a) provide to the customs authority of the importing Party, by certified or registered mail or any other method that produces a confirmation of receipt by that customs authority, a written report in order for it to determine whether the good is originating or not, which contains:

(i) the results of the verification;

(ii) the description of the good subject to verification and the tariff classification relevant to the application of the rules of origin;

(iii) a description and explanation of the good sufficient to support the rationale concerning the originating status of the good;

(iv) information on the manner in which the verification was conducted; and

(v) where appropriate, supporting documentation, and

(b) subject to its laws and regulations, notify the exporter of the outcome of the verification of origin.

12. The period of time within which a verification of origin shall be completed may be extended by mutual consent of the customs authorities concerned.

### Result of a verification of origin

13. If a verification of origin finds that the importer, exporter, producer or supplier has failed to comply with any requirement of this Protocol , the importing Party may deny preferential treatment to the good.

14. If the result of a verification of origin has not been provided in accordance with this Protocol, the customs authority of the importing Party may deny preferential treatment to a good if it has reasonable doubt that, or when it is unable to determine whether, the good is originating.

### Review and appeal

15. Each Party shall grant substantially the same rights of review and appeal of determinations of origin issued by its customs authority as it provides to importers in its territory, to any person who has received a determination on origin in the application of this Article.

### Disputing the result of a verification of origin

16. Each Party shall provide that, if there are differences between the Parties in relation to the verification procedures set out in this Article or in the interpretation of the rules of origin in determining whether a good qualifies as originating, and these differences cannot be resolved through consultations between the customs authority requesting the verification and the customs authority responsible for performing the verification, and if the customs authority of the importing Party intends to make a determination of origin that is inconsistent with the written report provided by the customs authority of the exporting Party, the customs authority of the importing Party shall notify the customs authority of the exporting Party within 60 days of receiving the written report.

17. At the request of either Party, the Parties shall hold and conclude consultations within 90 days from the date of the notification referred to in paragraph 16 to resolve those differences. The period for concluding consultations may be extended on a case by case basis by mutual written consent between the Parties. The customs authority of the importing Party may make its determination of origin after the conclusion of these consultations.

18. In all cases, the settlement of differences between the importer and the customs authority of the importing Party shall be under the law of the importing Party.