
<div class="feature-panel keyline">
    <h2 class="govuk-heading-m">Advance tariff rulings</h2>
    <p>For more help in classifying your commodity, you can <a href="https://www.tax.service.gov.uk/search-for-advance-tariff-rulings/search">search for advance tariff rulings</a>.</p>
    <p>Advance tariff rulings allow you to get a legally binding decision on the
    commodity code to use when importing into or exporting goods.</p>
    <p>Find out more about <a href="https://www.gov.uk/guidance/apply-for-an-advance-tariff-ruling">advance tariff rulings </a>.</p>
    
    <p><a href="https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods">
    Contact HMRC if you need help finding the right commodity code for your goods</a></p>
</div>