<!--
<p>{{ context.serviceName }} helps you to:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>find commodity codes for imports into or exports out of the UK</li>
    <li>find the taxes and duties that apply to those imports</li>
    <li>find out which certificates and licences apply to the import of your goods</li>
</ul>
//-->
<!--
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            How to use this service
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>You must accurately describe your item to find the right commodity. You need it to check licences, restrictions, duties and taxes.
        Find your commodity using the search tool below or browse through the sections of the goods classification.</p>

        <p>These steps will help you get started:</p>
        <ol class="steps">
            <li>
                <p>Enter the search term you want to use – an item may not be listed by name, it may come under what it’s used for or made from.</p>
            </li>
            <li>
                <p>The tool will suggest a section or number of sections, divided into chapters.<br><br></p>
            </li>
            <li>
                <p>The headings in each chapter describe a product, only select a sub-heading if your item is accurately described.</p>
            </li>
            <li>
                <p>If your item is not accurately described, check further down the list – if none of the sub-headings match your item use the ‘other’ heading.</p>
            </li>
        </ol>
        <p>You can also use the <a href="https://www.gov.uk/check-how-to-import-export">Check how to import or export goods</a> service to find out more information about importing or exporting.</p>
    </div>
</details>
//-->