<!--
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="feature-panel keyline">
            <h2 class="govuk-heading-m">Check how to import or export goods</h2>
            <p>Use the '<a href="https://www.gov.uk/check-how-to-import-export">Check how to import or export goods </a>' service to get information about importing and exporting, including:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>how to register your business for trading</li>
                <li>which licences and certificates you need for your goods</li>
                <li>paying the right tax and duty for your goods</li>
                <li>how to make declarations for your goods to clear the UK border</li>
                <li>which paperwork you need to keep</li>
            </ul>
        </div>
    </div>
</div>
//-->