{% extends "layout.html" %}

{% block pageTitle %}
  Trade Tariff: Calculate duty - what was your turnover ...?
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
  text: "Back",
  href: "/duty-calculator/destination/" + commodity.data.attributes.goods_nomenclature_item_id
}) }}
{% endblock %}
{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <!-- Show rules messages // -->
            {# {% if (data['message']) %}
            <div class="panel panel_grey">
                <h2 class="govuk-heading-s">{{ data['message'].title }}</h1>
                <p class="govuk-body">{{ data['message'].message | safe }}</p>
            </div>
            {% endif %} #}
            <!-- End show rules messages // -->

            <span class="govuk-caption-xl">Calculate import duties</span>
            <form action="/duty-calculator/uk/data_handler/{{commodity.data.attributes.goods_nomenclature_item_id}}" method="get">

                {# Get error message #}
                {% if (error == "origin") %}
                    {% set error_message = "Enter a valid future date" %}
                    {% set error_class = "govuk-select--error" %}
                    {% set group_error_class = "govuk-form-group--error" %}
                {% else %}
                    {% set error_message = "" %}
                    {% set group_error_class = "" %}
                    {% set error_class = "" %}
                {% endif %}

                {# Display the type-ahead select control #}
                <fieldset class="govuk-fieldset">

                    {{ govukRadios({
                        idPrefix: "processing",
                        name: "processing",
                        fieldset: {
                            legend: {
                            text: "What was your annual turnover in the most recent complete financial year?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                            }
                        },
                        hint: {
                            html: "If the turnover of your company was less than &pound;500,000 in the latest complete
                            financial year, then your goods will not be considered to be subject to
                            commercial processing, and therefore not 'at risk' of subsequently being moved into Ireland.",
                            
                            html_row: "If the turnover of your company was less than &pound;500,000 in the latest complete
                            financial year, then your goods will not be considered to be subject to
                            commercial processing. This influences whether or not the goods are seen to be
                            'at risk' of subsequently being moved into Ireland.",
                            
                            notes: "There needs to be a differentiation here between RoW and GB, due to the wording of the NIP"
                        },
                        items: [
                            {
                                value: "under_500k",
                                html: "My company's turnover was less than &pound;500,000"
                            },
                            {
                                value: "over_500k",
                                html: "My company's turnover was &pound;500,000 or more"
                            }
                        ]
                        }) }}

                    {{ govukButton({
                      text: "Continue"
                    }) }}

                </fieldset>
            </form>
            {% include "../includes/commodity_panel.html" %}
            <div class="gem-c-contextual-footer">
                <div class="gem-c-related-navigation">
                    <nav role="navigation" class="gem-c-related-navigation__nav-section">
                        <h2 id="related-nav-topics-c7e51674" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>
                        <ul class="gem-c-related-navigation__link-list">
                            <li class="gem-c-related-navigation__link">
                                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="https://www.gov.uk/guidance/check-if-you-can-declare-goods-you-bring-into-northern-ireland-not-at-risk-of-moving-to-the-eu-from-1-january-2021#processing">Additional requirements for when you bring goods into Northern Ireland for processing</a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" href="https://www.gov.uk/guidance/apply-to-pay-less-duty-on-goods-you-import-for-specific-uses">Apply to pay less duty on goods you import for specific uses</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</html>