{% extends "layout.html" %}

{% block pageTitle %}
  Trade Tariff: Calculate duty - enter date
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
        items: [
            {
            text: "Home",
            href: "/sections"
            },
            {
            text: "Submitting your declaration",
            href: "/cpc"
            },
            {
            text: "Declaration category",
            href: ""
            }
        ]
        }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Submitting your declaration</span>
      <form action="/cpc/previous-code-notes" method="get">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">Tell us your previous code</h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
            Intro words go here ...
          </div>
            <div class="govuk-radios">
              {% for rc in controller.previous_codes %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="previous_code-{{ rc.code }}" name="previous_code" type="radio" value="{{ rc.code }}">
                  <label class="govuk-label govuk-radios__label" for="previous_code-{{ rc.code }}">
                    <strong>{{ rc.code }}</strong>
                    {{ rc.description }}</label>
                  <div id="code-{{ rc.code }}-hint" class="govuk-hint govuk-radios__hint">
                    {# {{ rc.hint }} #}
                  </div>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
        {{ govukButton({
          text: "Back",
          classes: "govuk-button--secondary govuk-!-margin-left-2",
          href: "/cpc/request-code-notes"
        }) }}
      </form>

    </div>
  </div>

</div>

</div>

{% endblock %}
</html>