{% extends "layout.html" %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
    items: [
        {
        text: "Home",
        href: "/sections/"
        },
        {
        text: "Search results",
        href: ""
        }
    ]
}) }}
{% endblock %}

{% block pageTitle %}
  ** Search Prototype ** Trade Tariff: look up commodity codes, duty and VAT rates
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">
                {{ context.title }}
                {% include "includes/scope_switcher_panel.html" %}
            </span>
            <h1 class="govuk-heading-l">
                Search results for '{{ context.search_term }}'
            </h1>
            {% set record_count = hits.hits | length %}

            {% if record_count == 0 %}

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <article class="search-results govuk-!-padding-top-1">
                            <p class="govuk-body-l">There are no results matching your query.</p>

                            {% if context.search_term_split | length > 1 %}
                                <p>Try searching for the individual terms in your query:
                                    <ul class="govuk-list govuk-list--bullet">
                                        {% for suggestion in context.search_term_split %}
                                            <li>
                                                <a href="/elastic/{{ suggestion }}">Search for {{ suggestion }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </p>
                            {% endif %}

                            {# {% if suggestions | length > 0 %}
                                <p>Did you mean:
                                    {% for suggestion in suggestions %}
                                        <span class="tag">
                                            <a href="/elastic/{{ suggestion }}">{{ suggestion }}</a>
                                        </span>
                                    {% endfor %}
                                </p>
                            {% endif %} #}
                            <p>
                                <strong>Alternatively, please search again and consider:</strong>
                            </p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Searching what the item is used for or made from</li>
                                <li>Broadening your search criteria</li>
                                <li>Checking your spelling</li>
                                <li>Browsing the <a href="/a-z-index/a">A-Z of Classified Goods</a>
                                </li>
                            </ul>

                            <h2 class="govuk-heading-m">General Interpretative Rules</h2>
                            <p>The classification of goods is defined by the General Interpretative Rules.
                                These help to classify goods, according to six key rules, which are defined below.</p>
                            {% include "includes/general_interpretative_rules.html" %}

                        </article>

                    </div>
                </div>

            {% else %}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% if hits.hits | length > 0 %}
                    {% include "search/elastic_filters.html" %}

                {% endif %}
                {% if guide %}
                    <div class="guide_aside">
                        <div>
                            <span class="govuk-caption-m">Classification guide</span>
                            <h2 class="govuk-heading-m">{{ guide.title }}</h2>
                            <p class="govuk-body-s">{{ guide.strapline }}</p>
                            <p class="govuk-body-s">
                                <a href="{{ guide.url }}" target="_blank">
                                    View classification guide for {{ guide.title | lowerFirst }} (opens in new tab)
                                </a>
                            </p>
                            <div>
                                <img src="/public/images/guides/{{ guide.image }}" alt="">
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% include "search/elastic_history_link.html" %}
            </div>
            <div class="govuk-grid-column-three-quarters">
                {% if guide %}
                    <div class="guide govuk-visually-hidden">
                        <div>
                            <img src="/public/images/guides/{{ guide.image }}" alt="">
                        </div>
                        <div>
                            <span class="govuk-caption-m">Classification guide</span>
                            <h2 class="govuk-heading-m">{{ guide.title }}</h2>
                            <p class="govuk-body-s">{{ guide.strapline }}</p>
                            <p class="govuk-body-s">
                                <a href="{{ guide.url }}" target="_blank">
                                View classification guide for {{ guide.title | lowerFirst }} (opens in new tab)
                            </a>
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if record_count == 1 %}
                    <p>Showing top {{ hit_count }} result for <strong>{{ context.search_term }}</strong>
                    </p>
                {% else %}
                    <p>Showing top {{ hit_count }} results for <strong>{{ context.search_term }}</strong>
                    </p>
                {% endif %}

                <div class="taglist">
                    {% if applied_filters | length %}
                        <p>Filters applied:</p>
                        {% for applied_filter in applied_filters %}
                            {% if applied_filter.field == "chapter" %}
                                {% set field = "Chapter " %}
                            {% elseif applied_filter.field == "heading" %}
                                {% set field = "Heading " %}
                            {% else %}
                                {% set field = "" %}
                            {% endif %}
                            <span class="tag">
                                <a title="Remove filter {{ applied_filter.value }}" href="" class="x">[ X ]</a>{{ field }}{{ applied_filter.value | capitalise }}
                            </span>
                        {% endfor %}

                    {% endif %}
                </div>

                {% if hits.hits | length > 0 %}
                    {% if context.sort_order == "relevance" %}
                        {# {% include "search/elastic_chapters.html" %} #}
                        {% include "search/elastic_headings.html" %}
                        {% include "search/elastic_relevance.html" %}
                    {% else %}
                        {% include "search/elastic_alpha.html" %}
                    {% endif %}
                {% endif %}

                <div class="bottom_switcher">
                    {% include "includes/scope_switcher_panel.html" %}
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}