{% extends "layout.html" %}

{% block pageTitle %}
  Trade Tariff: Calculate duty - select origin
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
    text: "Back",
    classes: "noprint",
    href: "/duty-calculator/destination/" + commodity.data.attributes.goods_nomenclature_item_id
  }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-xl">Import guidance</span>
            <h1 class="govuk-heading-l">Classifying your goods</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list govuk-!-margin-bottom-6">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#whatarecommoditycodes">What are commodity codes?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#worldwide">Are commodity codes the same worldwide?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#digits">How many digits does a commodity code have?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#components">What does the commodity code comprise of and what do the components do?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#responsibility">Who is responsible for classifying products?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#identifying">How is the right commodity code identified?</a>
                </li>
            </ol>

            <h2 class="govuk-heading-m" id="whatarecommoditycodes">What are commodity codes?</h2>

            <p>Commodity codes are an internationally recognised method for defining types of goods for customs purposes, as they are traded between countries. When a product is imported or exported across a border, a commodity code must be provided so the correct customs measures are applied.</p>

            <p>It is by finding the right commodity code for your goods that you can identify what duties and measures will apply to your goods when you import or export them.</p>

            <h2 class="govuk-heading-m" id="worldwide">Are commodity codes the same worldwide?</h2>

            <p>The UK and all member countries of the World Customs Organisation (WCO) use the same core structure for their commodity codes. This is called the Harmonized System and it divides goods into 98 chapters, across 21 sections which broadly group products depending on their type. Within these it subdivides goods into headings and subheadings, which provide the first 6-digits.</p>

            <p>Countries and customs territories then add additional digits, to achieve the level of detail needed to implement their international trade policy.</p>

            <p>The UK, therefore, uses the same codes as other members of the WCO up to the first 6-digits. This can help you to understand import or export requirements when trading internationally. However, as more than 6 digits are required and there are occasional divergences in treatment, to be certain of implications, you should always check what the full commodity code is in any countries you will be completing customs formalities in.</p>

            <h2 class="govuk-heading-m" id="digits">How many digits does a commodity code have?</h2>

            <p>The length of a commodity code can vary by both country and the use it is being put to. In the UK:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>10-digits are needed for import</li>
                <li>8-digits for export</li>
            </ul>

            <h2 class="govuk-heading-m" id="components">What does the commodity code comprise of and what do the components do?</h2>

            <p>A full 10-digit UK commodity code for imports is comprised of 5 parts.  The first 4 parts apply to exports and all 5 are required for imports.</p>

            <p>An example can be seen below.</p>

            <table class="govuk-table commodity-code-exemplar">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td colspan="3">Harmonised System (HS)</td>
                        <td colspan="2">UK-specific coding</td>
                    </tr>
                    <tr class="govuk-table__row coloured-code">
                        <td>01</td>
                        <td>02</td>
                        <td>29</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td colspan="4">Required for exports</td>
                        <td colspan="1">&nbsp;</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td colspan="5">Required for imports</td>
                    </tr>
                </tbody>
            </table>
            {# <p class="govuk-body-s">In the example above, the commodity code 0102291010 is made up of ...</p> #}

            <p>When a 10-digit commodity code is declared as part of an import declaration it determines:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>the rate of customs duty and import VAT</li>
                <li>the rate of other applicable taxes</li>
                <li>any preferential rates which may apply if the goods are covered by a trade agreement </li>
                <li>whether you need a licence to move your goods</li>
                <li>whether your goods are affected by any:
                                            <ul class="govuk-list govuk-list--bullet">
                        <li>agricultural policy</li>
                        <li>anti-dumping duties</li>
                        <li>safeguarding measures</li>
                        <li>tariff quotas</li>
                        <li>duty suspensions</li>
                    </ul>
                </li>
            </ul>

            <p>For exports, it will determine:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>which rules of origin may apply if the goods are covered by a trade agreement</li>
                <li>whether there are any restrictions to exports</li>
                <li>whether you need a licence to move your goods</li>
            </ul>

            <h2 class="govuk-heading-m" id="responsibility">Who is responsible for classifying products?</h2>

            <p>Importers and exporters are responsible for ensuring the correct commodity codes are identified and declared to customs when moving goods internationally. This is the case even when the company uses an intermediary to declare goods to customs on their behalf – the importers and exporters need to ensure that the intermediary receives the information required to complete the customs declaration, including how to classify the products concerned.</p>

            <h2 class="govuk-heading-m" id="identifying">How is the right commodity code identified?</h2>

            <p>The process of finding the right commodity code is called 'classification' and it takes account of the specific characteristics of the goods in question, particularly:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>the type of product</li>
                <li>what it is made of</li>
                <li>its function</li>
                <li>how it is presented or packaged</li>
            </ul>

            <p>The classification process takes account of the characteristics using a series of six legally binding rules, known as the General Interpretative Rules (GIRs), which were set down by the World Customs Organisation (WCO) and are applied by its member countries.</p>

            <p>Read the <a href="https://www.wcoomd.org/-/media/wco/public/global/pdf/topics/nomenclature/instruments-and-tools/hs-interpretation-general-rules/0001_2012e_gir.pdf?la=en" target="_blank">full text of the General Interpretative Rules rules</a>, with a simple description of what they do.</p>

            <p>As most types of goods have been classified before and many are referred to within the text of the tariff and its notes, the right codes can often be identified using the search function on this service. Although you should always check associated notes and rules to ensure you are content that the proposed classification is correct, this aims to help you through this process by using knowledge and tips from HMRC's classification experts to direct you based on the search terms you have used.</p>

            <p>If you find that your goods are difficult to classify, HMRC has published <a href="https://www.gov.uk/guidance/finding-commodity-codes-for-imports-or-exports">a series of guides for certain types of challenging goods</a> 
            and provides a classification advice service.</p>

            <p>You can access this help by:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Using the <a href="">webchat function</a>, when offered in this service</li>
                <li>Sending an <a href="">email to our classification enquiry team</a>
                </li>
                <li>
                    <a href="">Applying for a formal ruling</a>, if you want legal certainty</li>
            </ul>

            {# <p>Click here for more information on getting help finding your commodity code</p>

            [Section on where to use the comcode?] #}

        </div>
        <div class="govuk-grid-column-one-third noprint">
            {% include "howto/howto_aside.html" %}
        </div>
    </div>

{% endblock %}
</html>