<div class="gem-c-contextual-sidebar govuk-!-margin-bottom-0">
    <div class="gem-c-related-navigation">
        <h2 id="related-nav-related_items-e81f23c1" class="gem-c-related-navigation__main-heading" data-track-count="sidebarrelateditemsection">
            Using the tariff
        </h2>
        {# <p class="govuk-body-s">Guides on using the tariff ...</p> #}

        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-e81f23c1" data-module="gem-toggle">

            <ul class="gem-c-related-navigation__link-list">

                {# <li class="gem-c-related-navigation__link">
                    <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--other" href="/howto">How to use the Online Tariff</a>
                </li> #}

                <li class="gem-c-related-navigation__link">
                    <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--other" href="/howto/commodity-codes">Classifying your goods</a>
                </li>

                <li class="gem-c-related-navigation__link">
                    <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--other" href="/howto/quotas">How to use quotas</a>
                </li>

                <li class="gem-c-related-navigation__link">
                    <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--other" href="/howto/valuation">Valuing your goods</a>
                </li>

                <li class="gem-c-related-navigation__link">
                    <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--other" href="/howto/trade-remedies">Trade Remedies</a>
                </li>

                <li class="gem-c-related-navigation__link">
                    <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--other" href="/howto/origin">Origin</a>
                </li>
            </ul>
        </nav>
    </div>
</div>