{% extends "layout.html" %}

{% block pageTitle %}
  Origin
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
    text: "Back",
    classes: "noprint",
    href: "/duty-calculator/destination/" + commodity.data.attributes.goods_nomenclature_item_id
  }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-xl">Import guidance</span>
            <h1 class="govuk-heading-l">Origin</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list govuk-!-margin-bottom-6">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#definition">What is origin?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#worldwide">Are rules of origin used internationally?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#non-preferential">How to determine non-preferential origin?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#preferential">How to determine preferential rules of origin?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#certified">How is origin certified?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#responsible">Who is responsible for determining the origin of products?</a>
                </li>
            </ol>


            <h2 class="govuk-heading-m" id="definition">What is origin?</h2>
            <p>Customs origin is a way to determine where the product is from - where it was made. While this may sound simple, with complex supply chains determining where the product has actually been manufactured can be quite complex.</p>

            <p>Origin allows to implement various policy measures and calculate duties.</p>

            <p>There are two types of origin - they are subject to different rules and are used for different purposes. Non-preferential rules of origin are used to determine the country of origin of goods for the application of the most-favoured nation treatment (MFN) but also for the implementation of a number of commercial policy measures such as anti-dumping and countervailing duties, trade embargoes, safeguard measures and quantitative restrictions or tariff quotas. They are also used for trade statistics, public tenders and origin marking.</p>

            <p>The UK applies its own set of non-preferential rules of origin provisions, which have been based on the EU's but which may be different from those of any other third country.</p>

            <p>Preferential rules of origin, such as those in the TCA, determine whether goods qualify as originating from certain countries, for which special arrangements and agreements apply. Where all the rules are met, goods with preferential origin are eligible to be imported under the preferential tariff. Goods claiming the preferential tariff must have proof of origin.  Preferential rules of origin are determined and negotiated separately under each trade agreement. This means that when importing goods to the UK from, for example, the EU and South Korea or Canada rules of origin would likely differ. You can find relevant rules of origin under UK's trade agreement [ here ].</p>


            <h2 class="govuk-heading-m" id="worldwide">Are rules of origin used internationally?</h2>
            <p>Yes, each product declared to customs needs to have an origin. Rules of origin, both preferential and non-preferential are an internationally recognised mechanism under the terms of the World Trade Organisation (WTO) - the WTO's Agreement on Rules of Origin. </p>

            <h2 class="govuk-heading-m" id="non-preferential">How to determine non-preferential origin?</h2>
            <p>In general, non-preferential rules of origin are based on two criteria:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Wholly obtained - similarly to preferential rules, wholly obtained products are goods obtained entirely in the territory of one country without the addition of any non-originating materials.</li>
                <li>Last substantial transformation - in a case where more than one country was involved in the production of the good, the country where the last substantial transformation took place determines the origin of the good. </li>
            </ul>

            <p>Find <a href="https://www.gov.uk/government/publications/reference-document-for-the-customs-origin-of-chargeable-goods-eu-exit-regulations-2020">more information about non-preferential rules of origin</a>.</p>

            <h2 class="govuk-heading-m" id="preferential">How to determine preferential rules of origin?</h2>
            <p>Preferential rules of origin are determined on a product-by-product basis. In addition, there are some high-level rules around transport, certification and processing that need to be met as well as some tolerances and simplifications that may be available.</p>
            <p>Preferential rules of origin are based on the same main principles as non-preferential rules - wholly obtained (for goods obtained in one country, i.e. mineral products or animals) and substantial transformation (for goods produced or manufactured in more than one country). However, with preferential rules of origin, substantial transformation is further divided into product-specific rules of origin based on various criteria.</p>
            <p>If there is a preferential trade agreement in place, use the online tariff tool to see if your goods meet the preferential rules of origin rules by clicking on the rules of origin tab after you have selected the commodity code and country you wish to trade with.</p>

            <h2 class="govuk-heading-m" id="certified">How is origin certified?</h2>
            <p>Certificates of origin are available for both preferential and non-preferential origin. A certificate of non-preferential origin for imports into the UK is generally not required to be presented.</p>
            <p>Different ways to certify preferential origin are available. The specific method that should be used will depend on the text of the relevant agreement, e.g. Statement on origin.</p>

            <h2 class="govuk-heading-m" id="responsible">Who is responsible for determining the origin of products?</h2>
            <p>The importer declares origin to customs authorities at the time of import and in the case of preferential rules, claims preferential tariffs.</p>
            <p>However, since origin relates to how the goods were produced, the importer can only declare origin based on information provided by the exporter. Therefore, determining origin requires communication between the importer and exporter.</p>
            <p>If HMRC has reasons to doubt the validity of a proof of origin, it can request further documents from the importer or verification from the customs authority in the country of export.</p>


        </div>
        <div class="govuk-grid-column-one-third noprint">
            {% include "howto/howto_aside.html" %}
        </div>
    </div>

{% endblock %}
</html>