{% extends "layout.html" %}

{% block pageTitle %}
  Quotas
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
    text: "Back",
    classes: "noprint",
    href: "/duty-calculator/destination/" + commodity.data.attributes.goods_nomenclature_item_id
  }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-xl">Import guidance</span>
            <h1 class="govuk-heading-l">Using quotas</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list govuk-!-margin-bottom-6">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#definition">What are tariff rate and safeguard quotas?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#worldwide">Are Tariff Rate Quotas used internationally?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#restriction">Are Tariff Rate Quotas restricted based on the country of origin of the goods being imported?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#application">When are quotas applied and can they be agreed in advance?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#availability">How do you find out if there is a TRQ available for your import?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#using">How to use the available Tariff Rate Quota to reduce your import duties?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#ott">Quotas on the Online Trade Tariff</a>
                </li>
            </ol>


            <h2 class="govuk-heading-m" id="definition">What are tariff rate and safeguard quotas?</h2>

            <p>Where a customs territory wants to allow a fixed quantity of a particular commodity to be imported at a rate lower than the standard customs duty otherwise applicable, it enables this using 'quotas'.</p>

            <p>Quotas allow importers to reduce or even remove the basic duty rate. In some cases, they also prevent imported goods from being liable to trade defence measures like safeguards.</p>

            <p>Most quotas are applied on a first-come, first-served basis, but there are some that require the application and utilisation of licences. For licenced quotas access to them depends on you getting an import licence before importing the goods.</p>

            <p>Where quotas apply, the in-quota rate will be lower than the out-of-quota rate. Other ways to minimise import duty such as preferential trade agreement or import duty suspension may also be available for your products.</p>


            <h2 class="govuk-heading-m" id="worldwide">Are Tariff Rate Quotas used internationally?</h2>

            <p>Tariff rate quotas are an internationally recognised mechanism under the terms of the World Trade Organisation (WTO). However, which commodities have quotas as well as the size and impact of those varies by country.</p>


            <h2 class="govuk-heading-m" id="restriction">Are Tariff Rate Quotas restricted based on the country of origin of the goods being imported?</h2>

            <p>This can vary based on the commodity type but certain Tariff Rate Quotas are restricted to particular exporting countries. This can mean that there are a number of different quota balances allocated to different countries, even for the same type of goods.</p>

            <p>As a result, goods from certain countries could be eligible for imports under a lower, in-quota rate whilst the same goods originating in other countries can be subject to a higher, out-of-quota rate, because their quota has run out.</p>

            <p>Find out more about <a href="/howto/origin">determining the origin of your goods</a>.</p>


            <h2 class="govuk-heading-m" id="application">When are quotas applied and can they be agreed in advance? </h2>

            <p>First-come, first-serve Tariff Rate Quotas can only be claimed at the point the goods are imported into the UK. When that claim is made, it will be assessed against the available balance and either:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>granted completely, because there is sufficient quota available</li>
                <li>granted partially, where more goods are imported on the same day than there is quota available for</li>
                <li>or rejected, because there is no quota available for which the goods are eligible</li>
            </ul>

            <p>It is not possible to assure allocation of first-come, first-serve quota in advance, as it will be dependent on how much quota is available at the time your goods are submitted to customs for clearance to free circulation.</p>

            <p>From the importer's point of view, licenced quotas are agreed in advance, i.e. they will know what quota access they have before importing the goods.</p>

            <h2 class="govuk-heading-m" id="availability">How do you find out if there is a <abbr title="Tariff rate quota">TRQ</abbr> available for your import?</h2>

            <p>Once you have identified the right commodity code for your goods, this service will show you if there is quota available. By clicking on the 6-digit quota order number you can see the status and balance remaining at the last allocation.</p>

            <p>If you already know the relevant quota number, you can also access that information directly using the quota search tool.</p>

            <p>Quotas can be:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><strong>Open</strong> - the quota is not expected to exhaust for some time and a lower rate of duty can be given automatically to any valid claim</li>
                <li><strong>Critical</strong> - the quota may be nearing exhaustion or there is no information to base a prediction of how quickly it will be used up</li>
                <li><strong>Quota exhausted</strong> - all claims will be rejected</li>
            </ul>

            <h2 class="govuk-heading-m" id="using">How to use the available Tariff Rate Quota to reduce your import duties?</h2>

            <p><abbr title="Tariff rate quotas">TRQs</abbr> are not applied automatically. To benefit from them you or someone acting on your behalf is required to make a claim on the import declaration. This is done by quoting the 6-digit tariff quota order number on the declaration in:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Box 39 if you're using Customs Handling of Import and Export Freight (CHIEF)</li>
                <li>Data Element 8/1 if you're using the Customs Declaration Service</li>
            </ul>

            <p>You must also indicate on your declaration that the documents required to support the claim are available (box 44 or Data Element 2/3).</p>

            <p>You will have to provide security for duty at the full rate if the quota is critical.</p>

            <p>For some Tariff Rate Quotas, you will also need to get an import licence before you can claim the quota on your declaration. For more information on these see the <a target="_blank" href="https://www.gov.uk/guidance/licences-for-the-importexport-of-agricultural-products">guidance on licences for the import/export of agricultural products (opens in new window)</a>.</p>

            <h2 class="govuk-heading-m" id="ott">Quotas on the Online Trade Tariff</h2>

            <p>If there are quotas available on your selected commodity code, then these will be shown on the import tab of the commodity code page.</p>

            <img src="/public/images/howto/quotas 001.png" alt="Quotas on a sample commodity code page" style="max-width:640px;border:1px solid #333;margin-bottom:1em">

            <p>For each quota, you will see:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the country or countries to which the quota applies.</li>
                <li>the type of quota. There are two main types of quota: non-preferential (open to many countries) or preferential (restricted to a particular trading partner).
                Each of these may also be available on goods that are for <a href="https://www.gov.uk/guidance/apply-to-pay-less-duty-on-goods-you-import-for-specific-uses">authorised use only</a>.</li>
                <li>the 6-digit quota order number. Most tariff quotas operate on a first come first serve basis, but some are licence based. You can tell if a
                quota requires a licence, because it has starts with the characters '054'. All other quotas are first-come, first-serve.</li>
                <li>the in-quota duty rate, i.e. the duty rate that applies when you request usage of the quota on your import declaration and the quota is not exhausted.</li>
                <li>any conditions you need to fulfil to use the quota</li>
                <li>footnotes that help you to understand how to use the quota</li>
            </ul>

            <h3 class="govuk-heading-s" id="popup">Checking the detail of a first-come, first-serve quota</h3>

            <p>Click on the quota order number of a first-come, first-serve quota, to display more detail on that quota.</p>

            <img src="/public/images/howto/quotas 002.png" alt="Example quota popup" style="max-width:640px;border:1px solid #333;margin-bottom:1em">

            <p>You will then see:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the current quota balance. Balances are updated daily, so you will see the balance that is available at 00:00 (midnight) at the start of the given day.</li>
                <li>the quota's opening balance.</li>
                <li>the start and end dates of the quota's active definition period.</li>
                <li>the last date on which allocations were made against this quota.</li>
                <li>any suspension or blocking periods for the quota. A quota may be suspended for a variety of reasons, for example, if the associated third country duty is 0.00%. A quota may be blocked for a period of around two weeks from its introduction while demand for the quota is ascertained.</li>
            </ul>

            <p>For some quotas, notably the UK's safeguard quotas, you will see if any quota balance is carried over from one period into the next. Balance is carried over on safeguard quotas around 20 days after the start of the new period. Carryover periods start on 1st October, 1st January and 1st April.</p>

            <p>Quota balance is not available for licenced quotas. Contact the <a target="_blank" href="https://www.gov.uk/guidance/licences-for-the-importexport-of-agricultural-products">Rural Payments Agency (opens in new window)</a> for more information on licenced quotas.</p>

        </div>
        <div class="govuk-grid-column-one-third noprint">
            {% include "howto/howto_aside.html" %}
        </div>
    </div>

{% endblock %}
</html>