{% extends "layout.html" %}

{% block pageTitle %}
  Trade Remedies
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
    text: "Back",
    classes: "noprint",
    href: "/duty-calculator/destination/" + commodity.data.attributes.goods_nomenclature_item_id
  }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-xl">Import guidance</span>
            <h1 class="govuk-heading-l">What are trade remedies, safeguards and retaliatory duties?</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l">Trade remedies, also known as trade defence measures, are trade policy tools which allow the UK to protect domestic industries from unfair competition from products imported from other countries.</p>


            <h2 class="gem-c-contents-list__title">Contents</h2>
            <ol class="gem-c-contents-list__list govuk-!-margin-bottom-6">
                {# <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#definition">What are trade remedies, safeguards and retaliatory duties?</a>
                </li> #}
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#worldwide">Are trade remedies used internationally?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#usage">How does the UK apply trade remedies?</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                    <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#impact">How do trade remedies impact UK importers?</a>
                </li>
            </ol>

            {# <iframe style="max-width:626px;max-height:353px" width="100%" height="353" src="https://www.youtube.com/embed/s7rzWUdpdyQ?modestbranding=1&rel=0" title="youtube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> #}

            {# <h2 class="govuk-heading-m" id="definition">What are trade remedies, safeguards and retaliatory duties?</h2> #}

            {# <p>Trade remedies, also known as trade defence measures, are trade policy tools which allow the UK to protect domestic industries from unfair competition from products imported from other countries.</p>
 #}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Anti-dumping duties</h3>
            <p>Anti-dumping duties can be applied when goods are exported from another country  and sold in the UK for a price which is below the market value and where there is a genuine impact on the competing domestic industry. This practice is known as “dumping”. In order to apply anti-dumping duties, the UK needs to conduct an investigation and demonstrate that dumping is taking place and injuring domestic producers.</p>

            <p>In order to apply these duties, the UK needs to conduct an investigation and demonstrate that dumping is taking place and injuring domestic producers.</p>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Countervailing measures</h3>
            <p>Countervailing measures are measures against most subsidies offered by the exporting country to its domestic producers. If the subsidies in the exporting country have an adverse impact on the UK’s domestic industry, countervailing duties may be applied.</p>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Safeguards</h3>
            <p>Safeguards are temporary restrictions on imports irrespective of their source. These measures can be used in cases when there is a substantial increase in the quantities of a product being imported that is having a substantial impact or threat of impact on the competing domestic industry.</p>

            <p>As with anti-dumping duties, the UK authorities are required to conduct an investigation before applying countervailing duties or safeguards.</p>

            <h2 class="govuk-heading-m" id="worldwide">Are trade remedies used internationally?</h2>

            <p>Trade remedies are an internationally recognised trade policy tool. The WTO sets out rules and guidelines to ensure that countries apply such measures only in justifiable cases where there is a genuine threat to the domestic industry. In most cases, the domestic authorities are required to undertake an investigation to demonstrate and quantify the impact before applying a measure.</p>

            <p>Trade remedies are covered by these WTO agreements:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a target="_blank" href="https://www.wto.org/english/tratop_e/adp_e/antidum2_e.htm">the WTO Agreement on the Implementation of Article VI of the GATT (opens in new window)</a></li>
                <li><a target="_blank" href="https://www.wto.org/english/tratop_e/scm_e/subs_e.htm">the WTO Agreement on Subsidies and Countervailing Measures (opens in new window)</a></li>
                <li><a target="_blank" href="https://www.wto.org/english/docs_e/legal_e/25-safeg_e.htm">the WTO Agreement on Safeguards (opens in new window)</a></li>
            </ul>

            <h2 class="govuk-heading-m" id="usage">How does the UK apply trade remedies?</h2>

            <p>In the UK, trade remedies investigations are conducted by the Trade Remedies Authority. The <a href="https://www.trade-remedies.service.gov.uk" target="_blank">Trade Remedies Service</a> allows UK companies to participate in ongoing trade remedies cases and request new reviews.</p>

            <h2 class="govuk-heading-m" id="impact">How do trade remedies impact UK importers?</h2>

            <p>UK importers should check the duties on the UK Tariff to see whether their products are subject to any trade remedy measures. If trade remedies apply to goods imported from a given country, the importer will need to pay the amount due in addition to standard customs duties and import VAT.</p>

            <h3 class="govuk-heading-s">How can I tell if trade remedy measures or safeguards apply?</h3>

            <p>Once you have found the commodity code that you want to import, you can find out about remedies and safeguards by looking at the UK Tariff.</p>

            <p>If there are any trade remedy or safeguard measures present, then "Trade remedies, safeguards and retaliatory duties" will be listed on the menu on the import tab. Click on the menu link to see the detail of the remedies and safeguards that apply.</p>

            <img src="/public/images/howto/remedies 001.png" alt="menu showing the presence of trade remedies or safeguards on a commodity code" width="50%">

            <p class="govuk-!-margin-top-2">For safeguards, the tariff shows:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>the country (or countries) to which the anti-dumping or countervailing duty applies</li>
                <li>the duty liable on top of the standard customs duties and import VAT.</li>
            </ul>

            <p class="govuk-!-margin-top-2">In many cases, a safeguard mechanism, which would ordinarily apply a surcharge on your import duties,
            may be waived via the use of a <a href="/howto/quotas">quota</a>, if the quota has not been exhausted. Quotas are listed in the quota section of the import tab.</p>

            <p>For trade remedies, the tariff additionally shows:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>optionally, the exporting company or companies within the affected countries. Duties may be specific to the company, depending on the result of the relevant trade remedy adjudication. Companies are identified by a 4-character additional code. You will need to enter this code onto your declaration.</li>
                <li>the measure type. The four possible options are:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>definitive anti-dumping duty</li>
                        <li>definitive countervailing duty</li>
                        <li>provisional anti-dumping duty</li>
                        <li>provisional countervailing duty</li>
                    </ul>
                This notice explains in detail <a href="https://www.gov.uk/government/publications/notice-376-anti-dumping-and-countervailing-duties/notice-376-anti-dumping-and-countervailing-duties" target="_blank">what each remedy measure means (opens in new window)</a>.</li>
                <li>any conditions, such as a requirement for documentation that might influence the duty payable.</li>
            </ul>

        </div>
        <div class="govuk-grid-column-one-third noprint">
            {% include "howto/howto_aside.html" %}
        </div>
    </div>

{% endblock %}
</html>