{% extends "layout.html" %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/sections/" + context.scope_id
            },
            {
                text: "Tools",
                href: "/tools"
            },
            {
                text: "Exchange rates",
                href: "/tools/exchange_rates/exchange_rates"
            },
            {
                text: "Exchange rates for " + year,
                href: "/tools/exchange_rates/exchange_rates/" + year
            },
            {
                text: month_name + " " + year,
                href: "/tools/exchange_rates/exchange_rates/" + year
            }
        ]
    }) }}
{% endblock %}

{% block pageTitle %}
  {{ month_name }}
  {{ year }} monthly exchange rates
{% endblock %}

{% block content %}
  {% include "includes/language_selector.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">
        {{ context.title }}
        {# {% include "includes/scope_switcher_panel.html" %} #}
      </span>
      <h1 class="govuk-heading-l">
        {{ month_name }}
        {{ year }} monthly exchange rates</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-l">
        Official {{ month_name }}
        {{ year }} HMRC foreign currency exchange monthly rates for Customs & <abbr title="value added tax">VAT</abbr>.
      </p>

      {% set csv_filename = "/public/exchange_rates/csv/exrates-monthly-" + month + year.slice(2, 4) + ".csv" %}
      {% set xml_filename = "/public/exchange_rates/xml/exrates-monthly-" + month + year.slice(2, 4) + ".xml" %}

      <div class="govuk-grid-row news-item-grid">
        <div class="govuk-grid-column-two-thirds tariff-print-grid-column-full-width">
          <article class="news-item">
            <div class="gem-c-metadata">
              <dl>
                <dt class="gem-c-metadata__term">From:</dt>
                <dd class="gem-c-metadata__definition">
                  <a href="https://www.gov.uk/government/organisations/hm-revenue-customs">HM Revenue &amp; Customs</a>
                </dd>

                <dt class="gem-c-metadata__term">Published:</dt>
                <dd class="gem-c-metadata__definition">
                  12 May 2023
                </dd>

                <dt class="gem-c-metadata__term">Download:</dt>
                <dd class="gem-c-metadata__definition">
                  <a href="{{ csv_filename }}" class="nb" title="download csv file: hmrc exchange rates {{ month_name }} {{ year}}">CSV file</a> (8.66KB) |
                  <a href="{{ xml_filename }}" class="nb" title="download csv file: hmrc exchange rates {{ month_name }} {{ year}}">XML file</a> (31.66KB)
                </dd>
              </dl>
            </div>

            <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-bottom-6"></div>
          </article>
        </div>
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Country / territory</th>
            <th scope="col" class="govuk-table__header">Currency</th>
            <th scope="col" class="govuk-table__header">Currency code</th>
            <th scope="col" class="govuk-table__header r">Currency units per&nbsp;&pound;1</th>
            <th scope="col" class="govuk-table__header r">Start date</th>
            <th scope="col" class="govuk-table__header r">End date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for row in rows %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ row[0] }}</td>
              <td class="govuk-table__cell">{{ row[1] }}</td>
              <td class="govuk-table__cell">{{ row[2] }}</td>
              <td class="govuk-table__cell r">{{ row[3] }}</td>
              <td class="govuk-table__cell nw r">{{ row[4] | do_date("D MMMM YYYY")  }}</td>
              <td class="govuk-table__cell nw r">{{ row[5] | do_date("D MMMM YYYY") }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "tools/exchange_rates/exchange_rates_see_also.html" %}

    </div>

  </div>
{% endblock %}