{% extends "layout.html" %}
{% block pageTitle %}
  Trade Tariff: Search by additional code
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/sections"
    },
    {
      text: "Rules of origin",
      href: "/roo"
    },
    {
      text: "What are rules of origin?",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
    {% include "includes/language_selector.html" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">{{ scheme.title }} - Rules of origin</span>
      {{ content | safe }}
    </div>
  </div>

{% endblock %}
</html>