<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-list-s">
            <li>
                <a class="govuk-link" href="/roo/about.html">What are rules of origin?</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin">Check your goods meet the rules of origin</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/get-proof-of-origin-for-your-goods">Get proof of origin for your goods</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/claiming-preferential-rates-of-duty-between-the-uk-and-eu">Claiming preferential rates of duty between the UK and EU</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/trading-with-developing-nations">Trading with developing nations</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/import-and-export-goods-using-preference-agreements">Check if you can claim a preferential rate of duty</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/publications/rules-of-origin-for-goods-moving-between-the-uk-and-eu/product-specific-rules">Rules of origin for goods moving between the UK and EU - Goods-specific rules</a>
            </li>
            <li>
                <a class="govuk-link" href="/roo/glossary">Rules of origin glossary of key terms</a>
            </li>

        </ul>
    </nav>
</aside>