<h1 class="govuk-heading-xl">Working out the gender of clothing</h1>
<ul class="govuk-list govuk-list--bullet">
    <li>Garments with a left over right closure at the front are classed as men’s or boys’ garments.</li>
    <li>Those with right over left closure at the front are classed as women’s and girls’ garments.</li>
    <li>This applies unless the cut of the garment clearly says that it is designed for one sex or the other.</li>
    <li>Where garments cannot be identified as for either sex, they must be classified in the headings covering women’s or girls’ garments.</li>
</ul>
  

