$indent             : 12px;
$link-colour        : #30609B;
$link-colour-hover  : #102F74;
$break-point-widest : 55em; // 880px : the point at which VAT & supp unit disappear
$break-point-inter  : 45em; // 720px : the point at which MFN disappears
$break-point-mobile : 30em; // 480px : the point at which we go into a serial view

// Widths
$width-vat               : 8em;
$width-third-country-duty: 10em;
$width-supplementary-unit: 8em;
$width-commodity-code    : 9em;
$other-widths            : calc(#{$width-vat} + #{$width-commodity-code} + #{$width-supplementary-unit} + #{$width-third-country-duty});

.deque-expander {
    padding                : 0px;
    font-family            : "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.deque-expander a {
    color: $link-colour !important
}

.deque-expander a:visited {
    color: $link-colour !important
}

.deque-expander a:hover {
    color: $link-colour-hover !important
}

.deque-expander .deque-expander-summary {
    display   : block;
    border    : 0;
    padding   : 2px;
    color     : $link-colour;
    left      : 0;
    text-align: left;
    margin    : 0px 0px 0px 0px;

}

.deque-expander {
    font-size: 16px !important;

    .endline {


        .heading-description {
            padding-left: $indent;
            width       : calc(100% * (#{$width-commodity-code}));
        }
    }

    .subheading {
        .heading-description {
            padding-left: $indent;
            width       : calc(100% - (#{$width-commodity-code}));
        }
    }

}

.deque-expander .deque-expander-summary:visited {
    color: $link-colour;
}

.deque-expander .deque-expander-summary::-webkit-details-marker {
    display: none;
}

.deque-expander-summary .endline .heading-description::before {
    content    : "\25B6";
    width      : $indent * 1;
    font-size  : 12px;
    top        : -2px;
    margin-left: -1 * $indent;
    position   : relative;
    display    : inline-block;
    text-align : left;
}

.deque-expander-summary .subheading .heading-description::before {
    content    : "\25B6";
    width      : ($indent * 1) - 3;
    font-size  : 12px;
    top        : -1px;
    margin-left: -1 * $indent;
    position   : relative;
    display    : inline-block;
    text-align : left;
}


.deque-expander-summary .subheading .heading-description.heading-open::before {
    content     : "\25BC";
    // font-size: 13px;
}

.deque-expander .deque-expander-summary:hover {
    cursor: pointer;
}

.deque-expander .deque-expander-summary:active {
    cursor: pointer;
}

.deque-expander .deque-expander-summary:focus {
    display: block;
}

.deque-expander .deque-expander-content {
    clear      : both;
    margin-left: ($indent * 2);

    a {
        text-decoration: none;
    }
}

.deque-expander .deque-expander-summary[aria-expanded=true] .toggle-indicator:before,
.deque-expander.open .deque-expander-summary[aria-expanded=true] .toggle-indicator:before {
    content: 'H';
}

@media (max-width: $break-point-mobile) {

    // Smaller than mobile
    .endline {
        flex          : none;
        flex-direction: row;

        .heading-commodity-code {
            display: block;
        }
    }

    // Smaller than mobile
    .subheading {
        flex          : none;
        flex-direction: row;

        .heading-commodity-code {
            display: block;
        }
    }
}

@media (min-width: $break-point-mobile) {

    // Larger than mobile
    .endline {
        display       : flex;
        flex-direction: row-reverse;
    }

    .subheading {
        display       : flex;
        flex-direction: row-reverse;
    }
}

.endline {
    padding      : 4px 0px 4px 0px;
    margin       : 4px 0px;
    border-bottom: 1px solid #f0f0f0;
    font-family  : "GDS Transport", arial, sans-serif;

    .heading-vat {
        text-align: right;
    }

    .heading-third-country-duty {
        text-align: right;
    }

    .heading-supplementary-unit {
        text-align   : right;
        // font-size : 9px !important;
    }

    .heading-commodity-code {
        text-align: right;

        span {
            font-weight: normal !important;
        }
    }

    @media (min-width: $break-point-widest) {

        // Larger screens
        .heading-description {
            width: calc(100% - #{$other-widths});
        }

        .heading-vat {
            width: $width-vat;
        }

        .heading-third-country-duty {
            width: $width-third-country-duty;
        }

        .heading-supplementary-unit {
            width: $width-supplementary-unit;
        }

        .heading-commodity-code {
            width: $width-commodity-code;
        }
    }

    @media (min-width: $break-point-inter) and (max-width: $break-point-widest) {
        .heading-description {
            width: calc(100% - (#{$width-commodity-code} + #{$width-third-country-duty}));
        }

        .heading-vat {
            display: none;
        }

        .heading-third-country-duty {
            width: $width-third-country-duty;
            color: black;
        }

        .heading-supplementary-unit {
            display: none;
        }

        .heading-commodity-code {
            width: $width-commodity-code;
        }
    }

    @media (min-width: $break-point-mobile) and (max-width: $break-point-inter) {
        .heading-description {
            width: calc(100% - #{$width-commodity-code});
        }

        .heading-vat {
            display: none;
        }

        .heading-supplementary-unit {
            display: none;
        }

        .heading-third-country-duty {
            display: none;
        }

        .heading-commodity-code {
            width     : $width-commodity-code;
            text-align: right;
        }
    }

    @media (max-width: $break-point-mobile) {
        .heading-vat {
            display: none;
        }

        .heading-third-country-duty {
            display: none;
        }

        .heading-supplementary-unit {
            display: none;
        }

        .heading-commodity-code {
            margin-bottom: 0.5em;
        }

    }
}

.subheading {
    padding      : 0px 0px 4px 0px;
    margin       : 2px 0px;
    border-bottom: 1px solid #f0f0f0;
    font-family  : "GDS Transport", arial, sans-serif;

    .heading-vat {
        text-align: right;
    }

    .heading-third-country-duty {
        text-align: right;
    }

    .heading-supplementary-unit {
        text-align: right;
    }

    .heading-commodity-code {
        text-align: right;

        span {
            font-weight: normal !important;
        }
    }

    @media (min-width: $break-point-widest) {

        // Larger screens
        .heading-description {
            width: calc(100% - #{$other-widths});
        }

        .heading-vat {
            width: $width-vat;
        }

        .heading-third-country-duty {
            width: $width-third-country-duty;
        }

        .heading-supplementary-unit {
            width: $width-supplementary-unit;
        }

        .heading-commodity-code {
            width: $width-commodity-code;
        }
    }

    @media (min-width: $break-point-inter) and (max-width: $break-point-widest) {
        .heading-description {
            width: calc(100% - (#{$width-commodity-code} + #{$width-third-country-duty}));
        }

        .heading-vat {
            display: none;
        }

        .heading-third-country-duty {
            width: $width-third-country-duty;
            color: black;
        }

        .heading-supplementary-unit {
            display: none;
        }

        .heading-commodity-code {
            width: $width-commodity-code;
        }
    }

    @media (min-width: $break-point-mobile) and (max-width: $break-point-inter) {
        .heading-description {
            width: calc(100% - #{$width-commodity-code});
        }

        .heading-vat {
            display: none;
        }

        .heading-supplementary-unit {
            display: none;
        }

        .heading-third-country-duty {
            display: none;
        }

        .heading-commodity-code {
            width     : $width-commodity-code;
            text-align: right;
        }
    }

    @media (max-width: $break-point-mobile) {
        .heading-vat {
            display: none;
        }

        .heading-third-country-duty {
            display: none;
        }

        .heading-supplementary-unit {
            display: none;
        }

        .heading-commodity-code {
            margin-bottom: 0.5em;
        }

    }
}

.heading-commodity-code {
    span {
        font-family     : 'Azeret Mono', 'Courier New', Courier, monospace;
        padding         : 2px 3px;
        margin          : 0px 2px 0px 0px;
        font-size       : 13px;
        font-weight     : normal;
        background-color: #F6F6F6;
        color           : #000;
    }

    span:nth-of-type(2) {
        background-color: #e8e9f3;
    }

    span:nth-of-type(3) {
        background-color: #d9ecf7;
    }

    span:nth-of-type(4) {
        background-color: #d5f5f2;
    }
}

.heading-header {
    font-family  : "GDS Transport", arial, sans-serif;
    color        : #666;
    padding      : 0px;
    margin-bottom: 1em;
}

.endline.heading-header {
    border-bottom: 0px;

    div {
        top: 100%
    }

    div.heading-description {
        text-align: left;
    }
}

.subheading.heading-header {
    border-bottom: 0px;

    div {
        top: 100%
    }

    div.heading-description {
        text-align: left;
    }
}

.heading-body {
    border: 1px solid #F6F6F6;

    .heading-nav {
        padding: 0.5em;
    }

    .tools {
        padding         : 0.75em 0.5em;
        background-color: #F6F6F6;

        span {
            font-family            : "GDS Transport", arial, sans-serif;
            -webkit-font-smoothing : antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding-right          : 1em;
            color                  : $link-colour;
            text-decoration        : underline;
        }

        span:hover {
            color: $link-colour-hover;
        }
    }
}
img.references {
    width: 16px;
    margin-left: 0.25em;
    position:relative;
    top:3px
}
img.references_in_header {
    width: 16px;
    margin-left: 0.25em;
    position:relative;
    top:1px
}