@import "flexible-tables";
@import "hierarchy-tree";
@import "cookie-banner";
@import "commodity_details";
@import "helpers";
@import "commodity_search";

@font-face {
    font-family: "ntatabularnumbers";
    src        : govuk-font-url("light-tabular-498ea8ffe2-v1.eot");
    src        : govuk-font-url("light-tabular-498ea8ffe2-v1.eot?#iefix") format("embedded-opentype"),
        govuk-font-url("light-tabular-851b10ccdd-v1.woff2") format("woff2"),
        govuk-font-url("light-tabular-62cc6f0a28-v1.woff") format("woff");
    font-weight : normal;
    font-style  : normal;
    font-display: fallback;
}

@font-face {
    font-family: "ntatabularnumbers";
    src        : govuk-font-url("bold-tabular-357fdfbcc3-v1.eot");
    src        : govuk-font-url("bold-tabular-357fdfbcc3-v1.eot?#iefix") format("embedded-opentype"),
        govuk-font-url("bold-tabular-b89238d840-v1.woff2") format("woff2"),
        govuk-font-url("bold-tabular-784c21afb8-v1.woff") format("woff");
    font-weight : bold;
    font-style  : normal;
    font-display: fallback;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    @extend %govuk-link;
}

abbr {
    cursor: help;
}

.autocomplete__option,
.autocomplete__input,
.autocomplete__hint {
    @include govuk-typography-common;
}

.autocomplete__hint,
.autocomplete__input {
    height: 40px;
}

// fix the offeset the autocomple creates
.autocomplete__hint {
    left: 1px;
}

.autocomplete__input--focused {
    outline: 3px solid $govuk-focus-colour;
}

// add error state and
.govuk-form-group--error .autocomplete__input {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;
}

.app-commodity-code {
    display: inline-block;
}

.app-commodity-code__highlight {
    background    : govuk-colour("mid-grey", $legacy: "grey-3");
    display       : inline-block;
    font-family   : $govuk-font-family-nta-tabular, Arial, sans-serif;
    letter-spacing: 0.05em;
    margin        : 0 0 0 0.25em;
    padding       : 0.25em 0.25em 0.125em 0.25em;

    &--1 {
        background-color: lighten(govuk-colour("light-purple"), 30%);
    }

    &--2 {
        background-color: lighten(govuk-colour("light-blue"), 35%);
    }

    &--3 {
        background-color: lighten(govuk-colour("turquoise"), 40%);
    }

    &--4 {
        background-color: lighten(govuk-colour("turquoise"), 40%);
    }

    &--5 {
        background-color: lighten(govuk-colour("turquoise"), 40%);
    }
}

.app-footnotes {

    a[name] {
        @include govuk-link-common;
        @include govuk-link-style-default;
        @include govuk-link-print-friendly;
        text-decoration: underline;
        color          : $govuk-link-colour;
    }
}

.text-button {
    background     : none !important;
    border         : none;
    padding        : 0 !important;
    /*optional*/
    font-family    : arial, sans-serif;
    /*input has OS specific font-family*/
    color          : #069;
    text-decoration: underline;
    cursor         : pointer;
    box-shadow     : none;
}

.text-button:hover {
    color: red;
}

.govuk-table td,
.govuk-table th {
    vertical-align: top;
}

.previous-answer {
    padding-bottom: govuk-spacing(2);
}

.helpdesk-direction__left-to-right:after {
    content: ' \279E';
}

.govuk-hint {
    color: $govuk-text-colour;
}

.app-select--inline {
    @include mq ($from: tablet) {
        @include govuk-clearfix;
    }

    text-align: right;
}

.app-commodity-summary {
    background-color: #f2f2f2;
}

#app-hierarchy-context {
    border          : solid 1px #bfc1c3;
    background-color: #ffffff;
    margin-bottom   : 2rem;
    padding         : 0;
}

#app-commodity-overview {
    padding-bottom: 0.5em;
}

#app-commodity-notes {
    border-top: 1px #bfc1c3 solid;
    padding   : 1em;
}

.app-contents li:before {
    content: "\2014";
    margin : 0 1em 0 0;
}

.app-info {
    background-color: #e9f4f9;
    border-left     : solid .5em #098dc1;
    padding         : .5em;
}

.app-contents {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
}

.helpdesk-breadcrumbs {

    position     : relative;
    padding-top  : 1em;
    padding-left : 1em;
    padding-right: 1em;
    margin       : 0 0 20px 0;

    nav {
        padding-left: 0.5em;

        ul {
            position    : relative;
            list-style  : none;
            padding-left: 5px;

            @include govuk-media-query($from: tablet) {
                padding-left: 15px;
            }

            li {
                position   : relative;
                display    : block;
                line-height: 25px;
                word-wrap  : break-word;
            }
        }
    }
}

.helpdesk-breadcrumbs nav ul li::before {
    border-top: 1px solid #000;
    top       : 10px;
    width     : 10px;
    height    : 0
}

.helpdesk-breadcrumbs nav ul li::after {
    border-left: 1px solid #000;
    height     : 100%;
    width      : 0px;
    top        : 2px
}

.helpdesk-breadcrumbs nav ul li::before,
.helpdesk-breadcrumbs nav ul li::after {
    content : "";
    position: absolute;
    left    : -15px
}

.helpdesk-breadcrumbs nav ul li:last-child::after {
    height: 8px
}

.helpdesk-breadcrumbs nav ul li .chapter-code,
.helpdesk-breadcrumbs nav ul li .heading-code,
.helpdesk-breadcrumbs nav ul li .commodity-code {
    float       : left;
    margin-right: 8px
}

.helpdesk-breadcrumbs nav ul li.chapter-and-heading-li .chapter-code {
    margin-right: 0
}

.helpdesk-breadcrumbs nav ul li.commodity-li .chapter-code,
.helpdesk-breadcrumbs nav ul li.commodity-li .heading-code {
    margin-right: 0
}

.helpdesk-breadcrumbs nav ul li ul.commodities {
    padding-left: 15px
}

.app-hierarchy-context__wrapper {
    padding: 0;
}

.helpdesk-icon {
    background-position-x: -2px;
    background-position-y: 0;
    background-size      : 24px 24px;
    background-repeat    : no-repeat;
    display              : inline-block;
    height               : 24px;
    width                : 24px;
    vertical-align       : bottom;
}

.helpdesk-icon__feed {
    background-image: url(/assets/images/outline_rss_feed_black_18dp.png);
}

.helpdesk-icon__email {
    background-image: url(/assets/images/outline_email_black_18dp.png);
}

.helpdesk-caption {
    color: #6f777b;
}

label[for="sort"] {
    float: right;
}

.helpdesk-chapter-note-item {
    padding: 0;
    margin : 0;
}

.helpdesk-chapter-note-item span {
    display       : inline-block;
    vertical-align: top;
}

.helpdesk-chapter-note-item__level-1 span:first-child {
    width: 25px;
}

.helpdesk-chapter-note-item__level-2 span:first-child {
    width      : 25px;
    margin-left: 25px;
}

.helpdesk-chapter-note-item__level-1 span:last-child,
.helpdesk-chapter-note-item__level-2 span:last-child,
.helpdesk-chapter-note-item__level-3 span:last-child {
    width: 80%;
}

.helpdesk-chapter-note-item__level-3 span:first-child {
    width      : 25px;
    margin-left: 50px;
}

.helpdesk-chapter-note-item__heading span:first-child {
    font-weight: 700;
}

.helpdesk-chapter-note-item__heading span:last-child,
.helpdesk-chapter-note-item__text span:last-child {
    display: inline;
}

.helpdesk-note {
    border-left: solid 10px #ccc;
    padding    : 1em;
}

.helpdesk-rules-of-origin-cell--sub-rule-item {
    border-bottom: none;
}

.helpdesk-ni-warning {
    border       : 5px solid #3670b3;
    margin-bottom: 50px;
    padding      : 20px;

    .govuk-warning-text {
        margin : 0;
        padding: 0;

        &__icon {
            margin: -10px 0 0 -10px;
            top   : 0;
        }

        &__text {
            padding-left: 40px;
        }
    }

    p {
        margin: 0;
    }
}