.news {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-around;
    font-family: GDS Transport, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
}

.news_date {
    width: 20%
}

.news_story {
    width: 80%
}

ul.document-list {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 19px;

    li {
        margin: 0px 0px 1em 0px;

        a {
            font-weight: bold;
        }
    }

    time {
        font-size: 16px;
        display: block;
        color: #505a5f;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
}

.primary-divider {
    margin: 0px 0px 2em 0px;
}

.news_strategic {
    .news_date {
        font-size: 14px;
        color: #666;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

    .news_story {
        width: 100%;
        border-bottom: 1px #999 solid;
        padding-bottom: 1.5em;
        margin-bottom: 0.5em;
    }

    .filter_header {
        font-weight: bold;
        margin: 0px 0px 0.5em 0px;
    }

    .govuk-list--disc {
        padding-left: 0.4em;
    }

    .news_meta {
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: normal;
        font-size: 16px !important;
        font-size: 1rem !important;
        line-height: 1.25;
    }

}

.news_pager {
    a {
        text-decoration: none;
        padding:0px 6px;
        border: 1px solid black;
    }

    a:hover {
        background-color: #ffc;
    }
}

// .gem-c-print-link__link,
// .gem-c-print-link__button {
//     background-image: url('/public/images/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png');
// }

// .gem-c-print-link__link,
// .gem-c-print-link__button {
//     background: url('/public/images/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png') no-repeat 10px 50%;
//     background-size: 16px 18px;
//     padding: 10px 10px 10px 36px;
//     text-decoration: none;
// }