.news {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-around;
    font-family: GDS Transport, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
}

.news_date {
    width: 20%
}

.news_story {
    width: 80%
}

ul.document-list {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 19px;

    li {
        margin: 0px 0px 1em 0px;

        a {
            font-weight: bold;
        }
    }

    time {
        font-size: 16px;
        display: block;
        color: #505a5f;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
}

.primary-divider {
    margin: 0px 0px 2em 0px;
}

.news_strategic {
    .news_date {
        font-size: 14px;
        color: #666;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

    .news_story {
        width: 100%;
        border-bottom: 1px #999 solid;
        padding-bottom: 1.5em;
        margin-bottom: 0.5em;
    }

    .filter_header {
        font-weight: bold;
        margin: 0px 0px 0.5em 0px;
    }

    .govuk-list--disc {
        padding-left: 0.4em;
    }

    .news_meta {
        font-family: "GDS Transport", arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: normal;
        font-size: 16px !important;
        font-size: 1rem !important;
        line-height: 1.25;
        margin-bottom: 1.5em;
    }

}

.news_pager {
    a {
        text-decoration: none;
        padding: 0px 6px;
        border: 1px solid black;
    }

    a:hover {
        background-color: #ffc;
    }
}

.bluebar {
    border-top: 2px #1D70B8 solid;
    padding-top: 1em
}

.news_meta {
    display: block;
    margin-top: 0.5em;
    color: #505a5f;
    
    a {
        color: #505a5f;
    }
}