ul.tools_menu {
    li {
        margin-bottom: 1em;
    }
}

.tab_container {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: flex-start;
    gap            : 10px;
    margin-bottom  : 0.5em;

    .identifier {
        width: 15%;
    }

    .description {
        width: 80%;

        p {
            margin-top   : top 0px;
            margin-bottom: 0.25em;
        }

        .secondary {
            color: $govuk-secondary-text-colour;
        }
    }

    .govuk-body--s {
        font-size: 16px
    }
}

.light-blue {
    background-color: #ddeeff;
    padding         : 0.25em 0.5em;
    margin-bottom   : 1em;

    p {
        font-size: 16px !important;
        margin   : 6px 0px;
    }
}