/* Start - the breadcrumbs */


// nav.breadcrumb {
//     ul {
//         width: 100%
//     }

//     .indent_1 {
//         padding-left         : 1.0em;
//         background-position-x: 0.2em;
//     }

//     .indent_2 {
//         padding-left         : 2em;
//         background-position-x: 1.2em;
//     }

//     .indent_3 {
//         padding-left         : 3em;
//         background-position-x: 2.2em;
//     }

//     .indent_4 {
//         padding-left         : 4em;
//         background-position-x: 3.2em;
//     }

//     .indent_5 {
//         padding-left         : 5em;
//         background-position-x: 4.2em;
//     }

//     .indent_6 {
//         padding-left         : 6em;
//         background-position-x: 5.2em;
//     }

//     .indent_7 {
//         padding-left         : 7em;
//         background-position-x: 6.2em;
//     }

//     .indent_8 {
//         padding-left         : 8em;
//         background-position-x: 7.2em;
//     }

//     .indent_9 {
//         padding-left         : 9em;
//         background-position-x: 8.2em;
//     }

//     .indent_10 {
//         padding-left         : 10em;
//         background-position-x: 9.2em;
//     }

//     .indent_11 {
//         padding-left         : 11em;
//         background-position-x: 10.2em;
//     }

//     .indent_12 {
//         padding-left         : 12em;
//         background-position-x: 11.2em;
//     }

//     .indent_13 {
//         padding-left         : 13em;
//         background-position-x: 12.2em;
//     }

//     .indent_14 {
//         padding-left         : 14em;
//         background-position-x: 13.2em;
//     }

//     .section {
//         margin-bottom: 0.75em;
//         font-size    : 16px;
//     }

//     li.crumb {
//         font-size            : 16px;
//         padding-top          : 0px;
//         padding-bottom       : 0px;
//         display              : flex;
//         flex-direction       : row;
//         flex-wrap            : nowrap;
//         background-image     : url('/public/images/l-shape.png');
//         background-repeat    : no-repeat;
//         background-position-y: 6px;

//         .commodity {
//             order    : 2;
//             flex-wrap: nowrap;
//             display  : flex;
//         }

//         .description {
//             order       : 1;
//             flex-grow   : 3;
//             margin-right: 2%;
//         }
//     }

// }

/* End - the breadcrumbs */


/* Start - new breadcrumbs */



/* azeret-mono-regular - latin */
@font-face {
    font-family: 'Azeret Mono';
    font-style : normal;
    font-weight: 400;
    src        : url('../fonts/azeret-mono-v6-latin-regular.eot');
    /* IE9 Compat Modes */
    src        : local(''),
        url('../fonts/azeret-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/azeret-mono-v6-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/azeret-mono-v6-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/azeret-mono-v6-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/azeret-mono-v6-latin-regular.svg#AzeretMono') format('svg');
    /* Legacy iOS */
}

.nav_hierarchy {
    margin          : 0px 0px 1em 0px;
    padding         : 1em 0px 0.5em 1em;
    font-size       : 12px;
    background-color: #f6f6f6;

    ol {
        li {
            white-space  : none;
            margin-bottom: 0.5em;
        }
    }

    @media (max-width: 40.0625em) {
        .list_hierarchy {
            font-size            : 14px !important;
            grid-template-columns: [row-start] 6fr [identifier-start] 2fr [row-end];

            .hierarchy_descriptor::before {
                top: 0.125em !important;
            }

            .commodity-split {
                span {
                    font-size       : 12px !important;
                    padding         : 0px !important;
                    margin          : 0px !important;
                    border          : 0px !important;
                    background-color: transparent !important;
                }
            }
        }
    }

    .list_hierarchy {
        display              : grid;
        grid-auto-flow       : dense;
        grid-template-columns: [row-start] 7fr [identifier-start] 2fr [row-end];
        grid-column-gap      : 10px;
        position             : relative;
        font-size            : 16px;

        .hierarchy_descriptor {
            grid-column-start: row-start;
            display          : inline-block;
            line-height      : 1.3em;
        }

        .hierarchy_descriptor::before {
            text-decoration  : none;
            display          : inline-block;
            padding          : 0px 0px 0px 0px;
            margin           : 0px 1em 0px 0px;
            color            : #000;
            // content       : "▶";
            content          : '\002514';
            font-size        : 12px;
            position         : absolute;
            left             : 0;
            top              : 0.15em;
        }

        .hierarchy_identifier {
            grid-column-start   : identifier-start;
            white-space         : nowrap;
            // text-align       : right;
        }

        .commodity-split {
            font-family: 'Azeret Mono', 'Courier New', Courier, monospace;

            span {
                padding            : 2px 3px;
                margin             : 0px 2px 0px 0px;
                font-size          : 14px;
                // border          : 1px #ddd solid;
                background-color   : #eee;
                color              : #000;
            }

            span:nth-of-type(1) {
                background-color: #e8e9f3;
            }

            span:nth-of-type(2) {
                background-color: #d9ecf7;
            }

            span:nth-of-type(3) {
                background-color: #d5f5f2;
            }

        }
    }

    // Desktop settings
    $initial-indent        : 20;
    $desktop-indent        : 20;
    $device-initial-indent : 24;
    $device-setback        : 16;

    // Mobile settings
    $depth-to-stop-indenting: 8;
    $mobile-initial-indent  : 10;
    $mobile-indent          : 10;
    $mobile-device-setback  : 12;

    .hierarchy_section {
        .hierarchy_descriptor::before {
            content: none;
        }
    }

    .hierarchy_chapter {
        .hierarchy_descriptor {
            margin-left: #{$initial-indent}px;
        }

        .hierarchy_descriptor::before {
            left: #{$initial-indent - $device-setback}px;
        }
    }

    .hierarchy_heading {
        .hierarchy_descriptor {
            margin-left: #{$initial-indent * 2}px;
        }

        .hierarchy_descriptor::before {
            left: #{$initial-indent * 2 - $device-setback}px;
        }
    }

    @for $i from 1 through 12 {
        .hierarchy_ancestor_#{$i} {
            .hierarchy_descriptor {
                margin-left: #{$initial-indent + (($i + 1) * $desktop-indent)}px;
            }

            .hierarchy_descriptor::before {
                left: #{$initial-indent + (($i + 1) * $desktop-indent) - $device-setback}px;
            }
        }
    }

    @media (max-width: 40.0625em) {
        .hierarchy_chapter {
            .hierarchy_descriptor {
                margin-left: #{$mobile-initial-indent}px;
            }

            .hierarchy_descriptor::before {
                left: #{$mobile-initial-indent - $mobile-device-setback}px;
            }
        }

        .hierarchy_heading {
            .hierarchy_descriptor {
                margin-left: #{$mobile-initial-indent * 2}px;
            }

            .hierarchy_descriptor::before {
                left: #{$mobile-initial-indent * 2 - $mobile-device-setback}px;
            }
        }

        @for $i from 1 through ($depth-to-stop-indenting - 1) {
            .hierarchy_ancestor_#{$i} {
                .hierarchy_descriptor {
                    margin-left: #{$mobile-initial-indent + (($i + 1) * $mobile-indent)}px;
                }

                .hierarchy_descriptor::before {
                    left: #{$mobile-initial-indent + (($i + 1) * $mobile-indent) - $mobile-device-setback}px;
                }
            }
        }

        @for $i from $depth-to-stop-indenting through 12 {
            .hierarchy_ancestor_#{$i} {
                .hierarchy_descriptor {
                    margin-left: #{$mobile-initial-indent + (($depth-to-stop-indenting + 1) * $mobile-indent)}px;
                }

                .hierarchy_descriptor::before {
                    left: #{$mobile-initial-indent + (($depth-to-stop-indenting + 1) * $mobile-indent) - $mobile-device-setback}px;
                }
            }
        }
    }
}

/* End - new breadcrumbs */