/* Start - duty calculation */
.calc_table {

    border-collapse: unset;

    .measure_type {
        width: 20%;
    }

    .requirement {
        width: 25%;
    }

    .calculation {
        width: 20%;
    }

    .apply {
        width       : 15%;
        padding-left: 1em !important;
    }

    td.value {
        background-color: #f6f6f6;
    }

    .value {
        width        : 20%;
        text-align   : right;
        padding-right: 1em;
    }

    .govuk-radios {
        margin-top: -9px
    }

    .govuk-radios__item {
        padding-top   : 0px !important;
        padding-bottom: 0px !important;
        margin-top    : 0px;
        margin-bottom : 0px;

        label {
            font-size: 16px;
        }
    }

    .duty_total {
        padding-right: 1em !important;
        text-align   : right;
    }

    .normal {
        font-weight: 400 !important;
    }

    .govuk-caption-l {
        margin: 1em 0px 1em 0em;
    }

    em {
        color     : #666;
        font-style: normal;
    }


    tr td,
    tr th {
        padding: 0.5em 0.5em 0.5em 0.5em !important;
    }

    tr th {
        background-color: #f6f6f6;
    }
}

.white {
    background-color: #ffffff;
    border          : 0px !important;
}

.grand_total {
    border: 2px solid black !important;
}

.total {
    font-weight: bold;

    tr td,
    tr th {
        border: 0px;
    }
}

.govuk-button--print {
    background-color: white;
    border          : 1px solid #b1b4b6;
    color           : #1d70b8;
    cursor          : pointer;
    margin          : 0;
    padding         : 10px 10px 10px 36px;
    background      : url(/public/images/icon-print-2x.png) no-repeat 10px 50%;
    background-size : 16px 18px;
    font-size       : 16px;

}

.quota_cell {
    .govuk-details {
        font-size: 16px;
        margin   : 0px 0px 0.5em 0px;

        .govuk-details__summary {
            padding-left: 16px
        }

        .govuk-details__text {
            padding-left  : 12px;
            padding-top   : 0px;
            padding-bottom: 0px;
        }

        dd,
        dt,
        p {
            font-size: 14px;
        }

        dl {
            margin : 0px;
            padding: 0px;
        }

        dd {
            margin : 0px;
            padding: 0px;
        }

        dt {
            margin     : 0.25em 0px 0px 0px;
            padding    : 0px;
            font-weight: bold;
        }
    }
}

.import_summary {

    dd,
    dt {
        font-size: 14px;
    }

    dl {
        width   : 100%;
        overflow: hidden;
        padding : 0;
        margin  : 0
    }

    dt {
        float  : left;
        width  : 30%;
        padding: 0 0 0.4em 0;
        margin : 0 5% 0 0;
    }

    dd {
        float  : left;
        width  : 65%;
        padding: 0 0 0.4em 0;
        margin : 0
    }

}

@media (min-width: 40.0625em) {
    .import_summary {

        dt,
        dd {
            font-size: 16px;
        }
    }
}

.comm_code_panel {
    font-family            : "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    display                : flex;
    flex-direction         : row;
    flex-wrap              : nowrap;

    div {
        flex-direction: column;
        display       : flex;
        flex-direction: row;
        margin-right  : 1em;
    }

}

p.teal,
div.teal,
ul.teal li {
    color      : #066;
    font-size  : 16px;
    font-weight: 400;
}

h2.teal,
h3.teal {
    border-top : 5px solid #066;
    padding-top: 2em;
    color      : #066;
}

span.normal {
    font-weight: 400;
}

p.hide {
    text-align: right;
    margin    : 0px 0px !important;
    padding   : 0px 0px !important;
    color     : #066;
    font-size : 12px;
}

p.hide:hover {
    cursor: pointer
}

hr.teal_band {
    height          : 20px;
    color           : #066;
    background-color: #066;
    border          : 0px;
    margin          : 0.5em 0px 2em 0px;
}

.conditional {
    margin     : 8px 0px;
    font-weight: bold;
    color      : #066;
}

.forty {
    width: 40%
}

.thirty {
    width: 30%
}

.twenty {
    width: 20%
}

/* End - duty calculation */