{% extends "layout_blank.html" %}

{% block pageTitle %}
  Cumulation - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
    <!--<div class="govuk-grid-row">
        <div class="govuk-grid-column-full roo_container">//-->
            
                <p><img class="roo_map" src="/public/images/roo/countries/central america 2.png" alt=""><br>


        <!--</div>
    </div>//-->

{% endblock %}
</html>