{% extends "layout.html" %}

{% block pageTitle %}
  insufficient processing - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "/roo/cumulation/" + context.goods_nomenclature_item_id + "/" + context.country
    }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds roo_container single_tier">
            <form action="/roo/data_handler/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <input type="hidden" name="phase" id="phase" value="insufficient_processing" >
                <span class="govuk-caption-xl commodity-split">Are your goods originating?</span>
                <h1 class="govuk-heading-xl">Minimal operations: Have non-originating parts been sufficiently processed?</h1>
                {# <p class="govuk-body-l">Not all of the parts that make up your goods
                    originate in {{ context.country_name if context.trade_direction == "import" else "the United Kingdom" }}.</p> #}

                <p class="govuk-body-l">In order to qualify for preferential treatment, non-originating parts
                    must be sufficiently processed to count as originating.</p>

                <p>
                    Manufacturing and processing operations must be more than simple operations or processes,
                    and must need special skills, machines, apparatus or equipment especially produced or installed to
                    carry out the manufacture or process.
                </p>

                <p class="govuk-body">Some operations are regarded as too minor to confer originating status to
                    non-originating materials that are used in the production of your goods. These operations are 
                    referred to as 'insufficient processing' and are specific to each trade agreement.
                </p>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">What are simple operations?</span>
                    </summary>
                    <div class="govuk-details__text">

                        <p>Some of the listed operations can be clearly identified as insufficient operations, such as the affixing of a label on the product. However, there are also some operations that need to be assessed further as they contain the term ‘simple’, for example ‘simple assembly’.</p>

                        <p>‘Simple’ usually describes activities which do not need special skills, machines, apparatus, or equipment especially produced or installed for carrying out the activity. This term may be further defined so that the skills, machines, apparatus, or tools used must also contribute to the product’s essential characteristics or properties.</p>
                    </div>
                </details>

                {# <p class="govuk-body">The insufficient processing operations for the {{ context.scheme_title }} are listed below.</p> #}

                <h2 class="govuk-heading-m">'Insufficient processing' operations according to the {{ context.scheme_title }}</h2>
                <div class="agreement_content">{{ context.insufficient_processing | convert_markdown | safe }}</div>

                {{ govukRadios({
                idPrefix: "insufficient_processing",
                name: "insufficient_processing",
                fieldset: {
                    legend: {
                    text: "Have non-originating parts been subject to sufficient processing to qualify for preferential treatment?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                    }
                },
                hint: {
                    text: ""
                },
                items: [
                    {
                        value: "yes",
                        text: "Yes",
                        hint: {
                            text: ""
                        }
                    },
                    {
                        value: "no",
                        text: "No",
                        hint: {
                            text: ""
                        }
                    }
                ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    href: ""
                }) }}

            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "./aside.html" %}
        </div>
    </div>

{% endblock %}
</html>