{% extends "layout.html" %}

{% block pageTitle %}
  Product-specific rules - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: "/roo/insufficient_processing/" + context.goods_nomenclature_item_id + "/" + context.country
    }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds roo_container commodity-split">

            <form action="/roo/data_handler/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <input type="hidden" name="phase" id="phase" value="product_specific_rules">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                    Do your goods meet the product-specific rules?
                                </h1>
                        </legend>
                        {% if context.rules.length > 1 %}
                            <div class="govuk-hint">
                                Your goods must meet one of these rules in order to qualify for originating status.
                                Select an option to indicate if you meet the rule.
                            </div>
                        {% else %}
                            <div class="govuk-hint">
                                Your goods must meet the product-specific rules in order to qualify for originating status.
                                Select an option to indicate if you meet the rule.
                            </div>
                        {% endif %}
                        <div class="govuk-radios" data-module="govuk-radios" id="psr_for_selenium">
                            {% set index = 0 %}
                            {% for rule in context.rules %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="psr_{{ index }}" name="psr" type="radio" value="met">
                                    <label class="govuk-label govuk-radios__label psr_for_selenium_label" for="psr_{{ index }}">{{ rule.rule | convert_markdown | link_roo_terms | safe }}</label>
                                    <div class="govuk-hint govuk-radios__hint">
                                        {# {{ rule.hint | safe }} #}
                                    </div>
                                </div>
                                {% set index = index + 1 %}
                            {% endfor %}

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="psr_{{ index }}" name="psr" type="radio" value="not met">
                                <label class="govuk-label govuk-radios__label psr_for_selenium_label" for="psr_{{ index }}">Distillation rule: read more about the distillation rule in the notes below</label>
                                <details class="govuk-details govuk-!-margin-left-3" data-module="govuk-details" style="display:none">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                        Read more about the distillation rule
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p>Petroleum oils and oils obtained from bituminous minerals, other than crude; preparations not elsewhere specified or included, containing by weight 70 % or more of petroleum oils or of oils obtained from bituminous minerals, these oils being the basic constituents of the preparations; waste oils</p>
                                        <h2 id="heading-note-1-distillation-rule">Heading Note 1: Distillation Rule</h2>
                                        <p>Notwithstanding the applicable product specific rules of origin, a good of heading 2710 that undergoes atmospheric or vacuum distillation in the territory of one or both of the Parties satisfies the requirements of this Annex.</p>
                                        <p>For the purposes of this rule:</p>
                                        <ul>
                                        <li><p>(a) “atmospheric distillation” means a separation process in which petroleum oils are converted, in a distillation tower, into fractions according to boiling point and the vapor then condensed in different liquid fractions. Goods produced from atmospheric distillation may include liquefied petroleum gas, naphtha, gasoline, kerosene, diesel, heating oil, light gas oils and lubricating oils; and </p>
                                        </li>
                                        <li><p>(b) “vacuum distillation” means distillation at a pressure below atmospheric, but not so low that it would be classed as molecular distillation. Vacuum distillation is used for distilling high boiling and heat sensitive materials, such as heavy distillates in petroleum oils to produce light and heavy vacuum gas oils and residuum. In some refineries, gas oils may be further processed into lubricating oils.</p>
                                        </li>
                                        </ul>
                                    </div>
                                </details>
                            </div>

                            {% if context.rules.length > 2 %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="psr_{{ index }}" name="psr" type="radio" value="not met">
                                    <label class="govuk-label govuk-radios__label psr_for_selenium_label" for="psr_{{ index }}">Your goods do not meet any of these rules.</label>
                                </div>
                            {% elseif context.rules.length > 1 %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="psr_{{ index }}" name="psr" type="radio" value="not met">
                                    <label class="govuk-label govuk-radios__label psr_for_selenium_label" for="psr_{{ index }}">Your goods do not meet either of these rules.</label>
                                </div>
                            {% else %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="psr_{{ index }}" name="psr" type="radio" value="not met">
                                    <label class="govuk-label govuk-radios__label psr_for_selenium_label" for="psr_{{ index }}">Your goods do not meet the rules of origin.</label>
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
                {% if context.intro_text != "" %}
                    <p>Before selecting an option, read the <strong>introductory notes</strong> from the {{ context.scheme_title }}'s 
                        section on product-specific rules of origin.</p>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">Introductory notes to the product-specific rules</span>
                        </summary>
                        <div class="govuk-details__text">
                            {{ context.intro_text | safe }}
                        </div>
                    </details>
                {% endif %}
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </form>

            {% include "./commodity_include.html" %}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "./aside.html" %}
        </div>
    </div>

{% endblock %}
</html>