{% extends "layout.html" %}

{% block pageTitle %}
  Duty drawback - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: context.back_link
    }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row roo_container">
        <div class="govuk-grid-column-two-thirds">
            {# <span class="govuk-caption-xl commodity-split">{{ context.rules_of_origin_title | safe }}</span> #}
            <span class="govuk-caption-xl commodity-split">Obtaining and verifying proofs of origin</span>
            <h1 class="govuk-heading-xl">Non-alteration rule for trade with {{ context.country_name }}</h1>

            <p class="govuk-body-l">The purpose of the non-alteration rule is to ensure that the goods arriving in the country
                of import are the same as those which left the country of export without alteration.</p>

            {% if context.non_alteration != "" and context.non_alteration != null %}

                <div class="agreement_content">{{ context.non_alteration | convert_markdown | safe }}</div>

            {% else %}
                <div class="govuk-inset-text">
                    <p>There is no non-alteration rule for the {{ context.scheme_title }}.
                        {% if context.direct_transport != "" and context.direct_transport != null %}
                        Read the <a href="/roo/direct_transport/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">direct transport rule</a> for this trade agreement.
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "./aside.html" %}
        </div>
    </div>

{% endblock %}
</html>