{% extends "layout.html" %}

{% block pageTitle %}
  {{ context.rules_of_origin_title | safe }} - Rules of origin for commodity {{ context.goods_nomenclature_item_id }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="{{ context.feedback_url }}" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
        text: "Back",
        href: context.back_link
    }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row roo_container">
        <div class="govuk-grid-column-two-thirds">
            <form action="/roo/data_handler/{{ context.goods_nomenclature_item_id }}/{{ context.country }}">
                <input type="hidden" name="phase" id="phase" value="processing" >
                <span class="govuk-caption-xl commodity-split">{{ context.rules_of_origin_title | safe }}</span>
                <h1 class="govuk-heading-xl">{{ context.document_title | safe }}</h1>
                
                <div class="agreement_content">{{ context.document_content | convert_markdown | safe }}</div>

                

            </form>
        </div>
    </div>
{% endblock %}
</html>