<h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">Latest news</h2>
{# <p>sfnsdioo</p> #}
<nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-40a88cdf" data-module="gem-toggle" data-gem-toggle-module-started="true">

    <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">
        <li class="gem-c-related-navigation__link">
            <span class="news_bubbled_headline"><a href="/">Extension of Customs Declaration Service license waiver document code (Tariff stop press notice 13)</a></span>
            <span class="news_meta">9 Oct 2022 | <a href="/bulletin/theme/Tariff%20notices">Tariff notices</a></span>
        </li>
        <li class="gem-c-related-navigation__link">
            <span class="news_bubbled_headline"><a href="/">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum vulputate lorem, vel sodales ipsum. Fusce sed mattis tortor. Sed gravida varius lacus lobortis convallis</a></span>
            <span class="news_meta">8 Oct 2022 | <a href="/bulletin/theme/Tariff%20stop%20press">Tariff stop press</a></span>
        </li>
        <li class="gem-c-related-navigation__link">
            <span class="news_bubbled_headline"><a href="/">Duis rutrum lorem nec tempus gravida. Sed convallis viverra elit eu pellentesque. Sed malesuada velit in augue egestas posuere.</a></span>
            <span class="news_meta">7 Oct 2022 | <a href="/bulletin/theme/Trade%20news">Trade news</a></span>
        </li>
    </ul>
    <a href="/bulletin">See all latest news</a>
</nav>