<div class="gem-c-contextual-sidebar">
    <div class="gem-c-related-navigation govuk-!-margin-top-0">
        <h2 class="gem-c-related-navigation__main-heading" data-track-count="sidebarrelateditemsection">Latest news</h2>
        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-40a88cdf" data-module="gem-toggle" data-gem-toggle-module-started="true">

            <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click" data-gem-track-click-module-started="true">
                <li class="gem-c-related-navigation__link">
                    <span class="news_bubbled_headline">
                        <a href="/">Tariff / CHIEF Stop Press Notice 15 Mar 2023</a>
                    </span>
                    <span class="news_meta">9 Oct 2022 | <a href="/bulletin/theme/tariff%20notices">Tariff notices</a>
                    </span>
                </li>
                <li class="gem-c-related-navigation__link">
                    <span class="news_bubbled_headline">
                        <a href="/">Tariff / CHIEF Stop Press Notice 1 Mar 2023</a>
                    </span>
                    <span class="news_meta">8 Oct 2022 | <a href="/bulletin/theme/tariff%20stop%20press">Tariff stop press</a>
                    </span>
                </li>
                <li class="gem-c-related-navigation__link">
                    <span class="news_bubbled_headline">
                        <a href="/">Tariff / CHIEF Stop Press Notice 23 Feb 2023</a>
                    </span>
                    <span class="news_meta">7 Oct 2022 | <a href="/bulletin/theme/trade%20news">Trade news</a>
                    </span>
                </li>
            </ul>
            <a href="/bulletin">See all latest news</a>
        </nav>
    </div>
</div>