{% extends "layout.html" %}

{% block pageTitle %}
  FOB (Free on board price)
{% endblock %}
{% block beforeContent %}
    {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">FOB (Free on board price)</h1>
            <p>"FOB" means:
            <ul class="govuk-list govuk-list--bullet">
                    <li>the free on board price of the product paid or payable to the seller regardless of the mode of shipment, provided that the price includes the value of all the materials used and all other costs incurred in the production of a product and its transportation to the exportation port in the Party, minus any internal taxes which are, or may be, repaid when the product obtained is exported; or</li>
                    <li>if there is no price paid or payable or if the actual price paid does not reflect all costs related to the production of the product which are actually incurred in the production of a product, the value of all the materials used and all other costs incurred in the production of the product in the exporting Party, and its transportation to the exportation port in the Party which:
                    <ul class="govuk-list govuk-list--bullet">
                            <li>include selling, general and administrative expenses, as well as profit, that can be reasonably allocated to the product, the costs of freight and insurance; and</li>
                            <li>exclude any internal taxes of the exporting Party which are, or may be, repaid when the product obtained is exported;</li>
                        </ul>

                    </li>
                </ul>
    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
    }) }}

            </div>
        </div>

    {% endblock %}