{% extends "layout.html" %}

{% block pageTitle %}
    RVC (minimum regional value content)
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
    }) }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">RVC (minimum regional value content)</h1>
            <p>"RVC" means the minimum regional value content of a product, expressed as a percentage.</p>
            <p>For a minority of goods, a specific rule of origin will require the good to meet an
            additional requirement to qualify as originating.</p>
            <p>Usually, this additional requirement tests the good's regional value content (RVC), which requires that a
            certain percentage of the good's value originates in an FTA country.</p>
            <p>For example, some rules may specify that a good must have at least a 35% RVC
            based on the build-up method. To qualify for originating status under the FTA,
            therefore, importers have to demonstrate that at least 35% of the good's value
            originated in the territory of the other party as determined using the build-up
            method.</p>
            <p>If a rule requires an HS classification change and an RVC test, the good has to
            meet both of these requirements to be an originating good.</p>

            <h2 class="govuk-heading-l">Calculating regional value content</h2>
            <p>Regional Value Content may be calculated using the Build Down method or the Build Up method.</p>
            <p>Unless specified in the rule, exporters or producers can choose the RVC method
            to be used.</p>

            <h3 class="govuk-heading-m">Build-down Method</h3>
            <p class="formula">RVC = ((AV - VNM) / AV)) * 100</p>
            <p>where:
            <ul class="govuk-list govuk-list--bullet">
                <li>VC is the regional value content, expressed as a percentage;</li>
                <li>AV is the adjusted value (the value for customs purposes), and</li>
                <li>VNM is the value of non-originating materials that are acquired and
                used by the producer in the production of the good. VNM does
                not include the value of a material that is self-produced</li>
            </ul>

            {# <h4 class="govuk-heading-s">Example of build-down method</h4>
            <p>A producer sells a good for $100 in an arm's-length sale. The value of the
            non originating materials used in the good is $30. Using the build-down method,
            the producer calculates the RVC as follows
            adjusted value - value of non-originating materials x 100 = RVC
            adjusted value
            $100 - $30 * 100 = 70%
            $100
            Therefore, using the build-down value method, the RVC of the good is 70% #}
            
            <h3 class="govuk-heading-m">Build-up Method</h3>
            <p class="formula">RVC = (VOM / AV) x 100</p>
            <p>where:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>RVC is the regional value content, expressed as a percentage;</li>
                <li>AV is the adjusted value (the value for customs purposes); and</li>
                <li>VOM is the value of originating materials that are acquired or selfproduced,
            and used by the producer in the production of the
            good.</li>
            </ul>

            {# <h4 class="govuk-heading-s">Example of build-up method</h4>

            <p>A producer sells a good for $100 in an arm's-length sale. The value of the
            originating materials used in the good is $60. Using the build-up method, the
            producer calculates the RVC as follows
            value of originating materials x 100 = RVC
            adjusted value
            $60 * 100 = 60%
            $100
            Therefore, using the build-up value method, the RVC of the good is 60%.
            </p> #}
            
            
            
            {# <p>For the calculation of RVC, the following formulas apply respectively:</p>

            <p class="formula">RVC(%)=(FOB-VNM)/FOB x 100</p> #}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
    }) }}
        </div>
    </div>
{% endblock %}