



{% extends "layout_start.html" %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates 
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">



<span class="govuk-caption-xl">Calculate import duties</span>

  <h1 class="govuk-heading-xl">Import duty calculation</h1>
  <p class="govuk-body">You are importing commodity <a class="govuk-link" href="https://www.trade-tariff.service.gov.uk/commodities/6116108091">6116 10 80 91 (2600)</a> from <strong>Chile </strong> on <strong>01 April 2022</strong>.</p>
  <details class="govuk-details" data-module="govuk-details" open="">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Details of your trade
    </span>
  </summary>
  <div class="govuk-details__text">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-s">
          Origin:
        </dt>
        <dd class="govuk-summary-list__value govuk-body-s">
          Chile
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-s">
          Commodity:
        </dt>
        <dd class="govuk-summary-list__value govuk-body-s">
          6116 10 80 91 (2600)
          <br>
          Other
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-s">
          Import date:
        </dt>
        <dd class="govuk-summary-list__value govuk-body-s">
          01 April 2022
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-body-s">
          Valuation of import:
        </dt>
        <dd class="govuk-summary-list__value govuk-body-s">
          £2,000.00
        </dd>
      </div>
    </dl>
  </div>
</details>

    <nav>
    <p class="govuk-body govuk-!-margin-bottom-3">See below for the options for paying duties on this import:</p>
    <ul class="app-contents govuk-!-margin-bottom-9">
        <li class="govuk-!-margin-bottom-2">
          <a class="govuk-body" href="#third_country_tariff">Option 1: Third-country duty</a>
        </li>
        <li class="govuk-!-margin-bottom-2">
          <a class="govuk-body" href="#tariff_preference">Option 2: Tariff preference - Chile</a>
        </li>
        <li class="govuk-!-margin-bottom-2">
          <a class="govuk-body" href="#certain_category_goods">Option 3: Suspension - goods for certain categories of ships, boats and other vessels and for drilling or production platforms</a>
        </li>
    </ul>
  </nav>


  <h2 id="third_country_tariff" class="govuk-heading-m govuk-!-margin-bottom-7">Option 1: Third-country duty</h2>
    <table class="govuk-table govuk-table--m govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Data</th>
          <th scope="col" class="govuk-table__header">Calculation</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s">Valuation for import</td>
    <td class="govuk-table__cell govuk-body-s">Value of goods + freight + insurance costs</td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">£2,000.00</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s">Import duty (2600)<br><span class="govuk-green govuk-body-xs"> Third-country duty (UK)</span></td>
    <td class="govuk-table__cell govuk-body-s">0.00% * £2,000.00</td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">£0.00</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s">VAT <br><span class="govuk-green govuk-body-xs"> Standard rate</span></td>
    <td class="govuk-table__cell govuk-body-s">20.00% * £2,000.00</td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">£400.00</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s"><strong>Duty Total</strong></td>
    <td class="govuk-table__cell govuk-body-s"></td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric"><strong>£400.00</strong></td>
</tr>

      </tbody>
    </table>
  <div class="govuk-!-margin-bottom-5">
    <p class="govuk-body">
  A ‘Third country’ duty is the tariff charged where there isn’t a trade agreement or a customs union available. It can also be referred to as the Most Favoured Nation (<abbr title="Most Favoured Nation">MFN</abbr>) rate.
</p>
  </div>
  <h2 id="tariff_preference" class="govuk-heading-m govuk-!-margin-bottom-7">Option 2: Tariff preference - Chile</h2>
    <table class="govuk-table govuk-table--m govuk-!-margin-bottom-9">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Data</th>
          <th scope="col" class="govuk-table__header">Calculation</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Value</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s">Valuation for import</td>
    <td class="govuk-table__cell govuk-body-s">Value of goods + freight + insurance costs</td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">£2,000.00</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s">Import duty<br><span class="govuk-green govuk-body-xs"> Tariff preference (UK)</span></td>
    <td class="govuk-table__cell govuk-body-s">0.00% * £2,000.00</td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">£0.00</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s">VAT <br><span class="govuk-green govuk-body-xs"> Standard rate</span></td>
    <td class="govuk-table__cell govuk-body-s">20.00% * £2,000.00</td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric">£400.00</td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-body-s"><strong>Duty Total</strong></td>
    <td class="govuk-table__cell govuk-body-s"></td>
    <td class="govuk-table__cell govuk-body-s govuk-table__cell--numeric"><strong>£400.00</strong></td>
</tr>

      </tbody>
    </table>
  <div class="govuk-!-margin-bottom-5">
    <p class="govuk-body">
  A tariff preference is the rate available if a free trade agreement or another arrangement is in place between the UK and an overseas country. Goods will need to comply with the <a target="_blank" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin" class="govuk-link">rules of origin</a> to benefit from this rate and you will need to provide evidence of compliance with your shipment.
</p></div>






{% endblock %}