<h3 class="govuk-heading-m govuk-!-margin-top-9">Non-preferential rules of origin</h3>
<p>
    <a target="_blank" href="https://www.gov.uk/government/publications/reference-document-for-the-customs-origin-of-chargeable-goods-eu-exit-regulations-2020">
        The Customs (Origin of Chargeable Goods) (EU Exit) Regulations 2020 (opens in new tab)
    </a> establishes the UK's rules of origin regime that applies to imports from countries which the
    UK does not have a preferential trading arrangement.
</p>

<p>Non-preferential rules of origin allows the implementation of several commercial policy measures such as:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>anti-dumping duties</li>
    <li>countervailing duties</li>
    <li>trade embargoes</li>
    <li>safeguarding measures</li>
    <li>quantitative restrictions</li>
    <li>tariff quotas</li>
</ul>

<p>They are also used for trade statistics, public tenders and origin marking.</p>

{# <h3 class="govuk-heading-m govuk-!-margin-top-9">More about rules of origin</h3> #}