<h2 class="govuk-heading-m" id="proofs">Proofs of origin</h2>
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Proofs of origin for importing goods from {{ context.country_name }}</h3>
{% for scheme in roo_psrs.roo_schemes %}
    {% if scheme.proofs | length > 0 %}
    {# <p>The following proofs of origin may be used for the import of goods from {{ context.country_name }}</p> #}
        <ul class="govuk-list govuk-list--bullet">
        {% for proof in scheme.proofs %}
            <li><a href="{{ proof.url}}">{{ proof.summary}}</a> {{ proof.subtext}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Proofs of origin for exporting goods to {{ context.country_name }}</h3>
{% for scheme in roo_psrs.roo_schemes %}
    {% if scheme.proofs | length > 0 %}
    {# <p>The following proofs of origin may be used for the exporting of goods from {{ context.country_name }}</p> #}
        <ul class="govuk-list govuk-list--bullet">
        {% for proof in scheme.proofs %}
            <li><a href="{{ proof.url}}">{{ proof.summary}}</a> {{ proof.subtext}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

<h3 class="govuk-heading-s govuk-!-margin-bottom-2">Find out more about proofs of origin</h3>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="#">How proofs of origin are verified</a></li>
    <li><a href="#">Detailed processes and requirements for proving the origin for goods</a></li>
</ul>