<div class="govuk-grid-row">
    {% if commodity.country_name2.length > 0 %}
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m roo_heading">
                Preferential rules of origin for trading with {{ context.country_name }}&nbsp;&nbsp;
                <img class="flag" src="/public/images/flags/{{ context.country | lower }}.png" height="20" alt="{{commodity.country_name2 }}">
            </h2>
            {% if roo.valid_rules %}
                {% if roo.scheme_count > 1 %}
                    {% include "includes/roo/commodities_roo_multiple.html" %}
                {% else %}
                    {% include "includes/roo/commodities_roo_single.html" %}
                {% endif %}

                <!-- Start product-specific rules //-->
                {% if not context.show_rosa_version %}
                    {% if roo.product_specific_rules %}
                        <h2 class="govuk-heading-m" id="psr">
                        Product-specific rules for commodity {{ commodity.data.attributes.goods_nomenclature_item_id }}
                        </h2>
                        <p>If your product has been produced using any non-originating materials, the product has to fulfil
                            the following product-specific rule to be considered originating in the EU or {{ roo.partners }}.</p>
                        <p>If there are alternative rules, your product needs to comply with only one of them.</p>
                        {{ roo["product_specific_rules"] | safe }}

                        <!-- Start how to read / intro notes //-->
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">How to read rules of origin</span>
                            </summary>

                            <div class="govuk-details__text">
                                {% include "includes/how-to-use-psr.html" %}
                                <h2 class="govuk-heading-m">Introductory notes</h2>
                                {{ roo["intro_text"] | safe }}
                            </div>
                        </details>
                        <!-- End intro notes //-->
                    {% endif %}
                {% endif %}
                <!-- End product-specific rules //-->

                <!-- Start proofs //-->
                {% if not context.show_rosa_version %}
                    {% if roo.proofs %}
                        <h2 id="proof" class="govuk-heading-m">Proving originating status and claiming preferential treatment</h2>

                        <p>The customs authority of the importing party will grant preferential tariff treatment, based on a claim made by the importer, to goods that originate in the other party that meet the conditions of the Trade Agreement.</p>

                        <p>A claim can be made if the importer has one of the following proofs of origin:</p>

                        {% if roo.proofs %}
                            <ul class="govuk-list govuk-list--bullet">
                                {% for proof in roo.proofs %}
                                    <li class="govuk-!-margin-bottom-6">
                                        <a href="{{ proof.url }}">{{ proof.summary | safe }}</a>
                                        {% if proof.subtext %}
                                            <br>{{ proof.subtext | safe }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <!-- End proofs //-->

                {% if not context.show_rosa_version %}
                    {% if roo.scheme_count == 1 %}
                        <!-- Start FTA relationship //-->
                        <h2 id="relationship" class="govuk-heading-m govuk-!-margin-top-9">Trading relationship with {{ commodity.country_name2 }}</h2>
                        {{ roo["fta_intro"] | safe }}
                        <!-- End FTA relationship //-->
                    {% endif %}
                {% endif %}

            {% else %}
                <div class="govuk-inset-text">
                    <p>There is no preferential agreement in place with {{ commodity.country_name2 }}, therefore
                        preferential rules of origin are not applicable.</p>
                    <p>To view preferential rules of origin, select a country with which the UK has a trade agreement from the dropdown above.</p>
                </div>
            {% endif %}
            {% include "includes/roo/commodities_roo_non_preferential.html" %}
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items noborder govuk-!-margin-top-2" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-list-s">
                        {% for link in roo.generic_links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                        {% for link in roo.links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                {# {% include "includes/commodities_roo_explainers.html" %} #}
            </aside>
        </div>
    {% else %}
        <!-- Start no country is selected //-->
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Preferential rules of origin</h2>
            <p>To view rules of origin, select a country with which the UK has a trade agreement from the list above.</p>
            <p>Find out more about preferential rules of origin:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a target="_blank" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin">
                        Check your goods meet the rules of origin (opens in new tab)
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.gov.uk/guidance/import-and-export-goods-using-preference-agreements">
                        Pay less Customs Duty on goods from a country with a UK trade agreement (opens in new tab)
                    </a>
                </li>
            </ul>
            {% include "includes/roo/commodities_roo_non_preferential.html" %}
        </div>
        <!-- End no country is selected //-->
    {% endif %}
</div>