<h2 class="govuk-heading-l">Importing into the UK</h2>

<nav>
  <ul class="app-contents app-contents--s govuk-!-margin-bottom-0">
    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#block_0">Introduction</a>
    </li>

    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#block_2">Product-specific rules</a>
    </li>

    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#block_3">Proofs of origin</a>
    </li>

    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#block_6">Check if your trade meets the rules of origin</a>
    </li>

  </ul>
</nav>
