<nav>
  <ul class="app-contents app-contents--s govuk-!-margin-bottom-6">
    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#overview">
        Overview
      </a>
    </li>

    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#wizard">
        Work out if your goods meet the rules of origin
      </a>
    </li>

    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#psrs">
        Product-specific rules
      </a>
    </li>

    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#proofs">
        Proofs of origin
      </a>
    </li>

    <li class="govuk-!-margin-bottom-2">
      <a class="govuk-body" href="#nonpreferentials">
        Non-preferential rules of origin
      </a>
    </li>
  </ul>
</nav>
