<aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
    <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-list-s">
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/collections/working-out-the-customs-value-of-your-imported-goods">Working out the customs value of your imported goods</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-1-transaction-value">Valuing imported goods using Method 1 (transaction value)</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-2-transaction-value-of-identical-goods">Valuing imported goods using Method 2 (transaction value of identical goods)</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-3-transaction-value-of-similar-goods">Valuing imported goods using Method 3 (transaction value of similar goods)</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-4-deductive-method">Valuing imported goods using Method 4 (deductive method)</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-5-computed-value">Valuing imported goods using Method 5 (computed value)</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/guidance/valuing-imported-goods-using-method-6-fall-back-method">Valuing imported goods using Method 6 (fall-back method)</a>
            </li>
        </ul>
    </nav>
</aside>