<table class="govuk-table govuk-table--m roo_table">
    <!--<caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>//-->
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:15%">Heading</th>
            <th scope="col" class="govuk-table__header" style="width:35%">Description</th>
            <th scope="col" class="govuk-table__header" style="width:50%">Rule</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
{{ rows }}
    </tbody>
</table>