{% extends "layout.html" %}

{% block pageTitle %}
Find out your eligibility for Small Producers' Relief
{% endblock %}

{% block content %}
  {% include "includes/language_selector.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Find out your eligibility for Small Producers' Relief</span>
      <h1 class="govuk-heading-xl">What is your annual production of alcoholic goods?</h1>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l" id="form">
      In order to qualify for Small Producers' Relief, your annual production
      of alcoholic products must not exceed 4,500 hectolitres of pure alcohol (hlpa).
    </p>
      <p>Use this form to enter the volumes of alcohol that you produce in each
      of the relevant categories. You must add in all the categories of alcohol that you produce
      in these categories.
    </p>

      <table class="govuk-table govuk-table--m">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Product</th>
            <th scope="col" class="govuk-table__header c">Band</th>
            <th scope="col" class="govuk-table__header r">ABV range&nbsp;(%)</th>
            <th scope="col" class="govuk-table__header r">Standard excise rate (per 100 l)</th>
            <th scope="col" class="govuk-table__header r">SPR discount (per 100 l)</th>
            <th scope="col" class="govuk-table__header r">SPR rate (per 100 l)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for rate in rates %}
            {% if rate["include"] == 1 %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ rate["storage"] }} {{ rate["product"] }}</td>
                <td class="govuk-table__cell c">{{ rate["lookup"] }}</td>
                <td class="govuk-table__cell r">{{ rate["abv_min"] }} - {{ rate["abv_max"] }}</td>
                <td class="govuk-table__cell r">&pound;{{ rate["excise_rate"] }}</td>
                <td class="govuk-table__cell r">&pound;{{ rate["spr_discount"] | decimals(2) }}</td>
                <td class="govuk-table__cell r">&pound;{{ rate["spr_rate"] | decimals(2) }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">Your products</h2>
      {% include "spr/calculation.html" %}

    </div>
  </div>

{% endblock %}