{% extends "layout.html" %}

{% block pageTitle %}
Find out your eligibility for Small Producers' Relief
{% endblock %}

{% block content %}
  {% include "includes/language_selector.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# Start working out errors #}
      {% set error_list = [] %}
      {% set identity_value = "" %}
      {% set abv_value = "" %}
      {% set volume_value = "" %}
      {% if "identity" in errors %}
        {% set obj = {
          "text": "Enter a label for this product",
          "href": "#identity"
        } %}
        {% set error_list = (error_list.push(obj), error_list) %}
      {% endif %}

      {% if "abv" in errors %}
        {% set obj = {
          "text": "Enter a numeric percentage of alcohol between 0 and 100",
          "href": "#abv"
        } %}
        {% set error_list = (error_list.push(obj), error_list) %}
      {% endif %}

      {% if "volume" in errors %}
        {% set obj = {
          "text": "Enter the volume of this category that you produce",
          "href": "#volume"
        } %}
        {% set error_list = (error_list.push(obj), error_list) %}
      {% endif %}
      {# Finish working out errors #}

      {% if spr.index != -1 %}
        {% set identity_value = spr.values["identity"] %}
        {% set abv_value = spr.values["abv"] %}
        {% set volume_value = spr.values["volume"] %}
      {% endif %}

      <span class="govuk-caption-xl">Find out your eligibility for Small Producers' Relief</span>
      <h1 class="govuk-heading-xl">What is your annual production of alcoholic goods?</h1>

      {% if errors | length > 0 %}
        {% set identity_value = data["identity"] %}
        {% set abv_value = data["abv"] %}
        {% set volume_value = data["volume"] %}

        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList:error_list
        }) }}
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l" id="form">
      In order to qualify for Small Producers' Relief, your annual production
      of alcoholic products must not exceed 4,500 hectolitres of pure alcohol (hlpa).
    </p>
      <p>Use this form to enter the volumes of alcohol that you produce in each
      of the relevant categories. You must add in all the categories of alcohol that you produce
      in these categories.
    </p>

      <form action="/spr/add-to-basket" method="get">
        <input type="hidden" name="index" id="index" value="{{ spr.index }}">
        {% if "identity" in errors %}
          {% set error_class = "govuk-form-group--error" %}
        {% else %}
          {% set error_class = "" %}
        {% endif %}
        <div class="govuk-form-group {{ error_class }}">
          <label class="govuk-label b" for="width-20">
          Label this class of product
        </label>
          {% if "identity" in errors %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a label for this product
          </span>
          {% endif %}
          <div class="govuk-hint">This will be used to identify your different products when we complete the calculation.</div>
          <input class="govuk-input govuk-input--width-20" id="identity" name="identity" maxlength="30" size="30" type="text" value="{{ identity_value }}">
        </div>

        {% if "abv" in errors %}
          {% set error_class = "govuk-form-group--error" %}
        {% else %}
          {% set error_class = "" %}
        {% endif %}
        <div class="govuk-form-group {{ error_class }}">
          <label class="govuk-label b" for="abv">
            What is the percentage of alcohol in these goods?
          </label>
          {% if "abv" in errors %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a numeric percentage of alcohol between 0 and 100
          </span>
          {% endif %}
          <div class="govuk-hint">
        Enter the ABV value to one decimal place.
        {# How do I <a href="">work out the alcoholic content</a> of a product? #}</div>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="abv" name="abv" type="text"
          spellcheck="false" value="{{ abv_value }}">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
          </div>
        </div>

        {% if "volume" in errors %}
          {% set error_class = "govuk-form-group--error" %}
        {% else %}
          {% set error_class = "" %}
        {% endif %}
        <div class="govuk-form-group {{ error_class }}">
          <label class="govuk-label b" for="volume">
            What volume of this category do you produce, in litres?
          </label>
          {% if "volume" in errors %}
            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter the volume of this category that you produce
          </span>
          {% endif %}
          <div class="govuk-hint">Enter the volume to the nearest hectolitre (100 litres)</div>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="volume" name="volume"
          type="text" spellcheck="false" value="{{ volume_value }}">
            <div class="govuk-input__suffix" aria-hidden="true">litres</div>
          </div>
        </div>

        {% if spr.index > -1 %}
          {{ govukButton({
            text: "Update this item",
            name: "update_product",
            isStartButton: false
          }) }}
          {{ govukButton({
            text: "Cancel",
            name: "cancel",
            href: "/spr/enter-volumes",
            classes: "govuk-button--secondary",
            isStartButton: false
          }) }}
        {% else %}
          {{ govukButton({
            text: "Add to your list of products",   
            name: "add_product",
            isStartButton: false
          }) }}
        {% endif %}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">Your products</h2>
      {% include "spr/calculation.html" %}

    </div>
  </div>

{% endblock %}