{% extends "layout.html" %}
{% block beforeContent %}{% endblock %}

{% block pageTitle %}
  {{ context.serviceName }}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}

    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{ context.serviceName }}
            </h1>
            <p class="govuk-body-l">Use this service to find your commodity code, a 10-digit number which describes
            the item that you are trading. Once you have found the right commodity code, you will be able to see what duties, VAT, excise
            and import or export controls apply to the goods.</p>

            <form>
                {{ govukRadios({
                idPrefix: "service",
                name: "service",
                fieldset: {
                    legend: {
                    text: "Select the service that you need?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                    }
                },
                items: [
                    {
                        value: "uk",
                        text: ukSubServiceName,
                        hint: {
                            html: "If you're bringing goods into England, Scotland or Wales or if you are 
                            bringing goods into Northern Ireland and your goods are not ‘at risk’ of onward movement to the EU, then use this tariff."
                        }
                    },
                    {
                        value: "xi",
                        text: xiSubServiceName,
                        hint: {
                            html: "If you're bringing goods into Northern Ireland from outside the UK and the EU, you will pay the UK duty rate if your goods are not ‘at risk’ of onward movement to the EU. If they are at risk of onward movement to the EU, use this tariff."
                        }
                    }
                ]
                }) }}

                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </form>
            <h2 class="govuk-heading-m">Using the service</h2>
            <p>You must accurately describe your item to search the tool. These steps will help you get started:</p>
            <ol class="steps">
                <li>
                    <p>Enter the search term you want to use – an item may not be listed by name, it may come under what it’s used for or made from.</p>
                </li>
                <li>
                    <p>The tool will suggest a section or number of sections, divided into chapters.</p>
                </li>
                <li>
                    <p>The headings in each chapter describe a product, only select a sub-heading if your item is accurately described.</p>
                </li>
                <li>
                    <p>If your item is not accurately described, check further down the list – if none of the sub-headings match your item use the ‘other’ heading.</p>
                </li>
            </ol>
        </div>
    </div>

{% endblock %}