{% extends "layout_start.html" %}

{% block pageTitle %}
  Trade Tariff: look up commodity codes, duty and VAT rates 
{% endblock %}
{% block beforeContent %}
    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "https://www.gov.uk/"
    },
    {
      text: "Business and self-employed",
      href: "https://www.gov.uk/browse/business"
    },
    {
      text: "Importing",
      href: "https://www.gov.uk/browse/business/imports"
    }
  ]
}) }}
{% endblock %}
{% block content %}
    {% include "includes/language_selector.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Trade Tariff: look up commodity codes, duty and VAT rates 
            </h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <!--{{releaseVersion | log }}//-->
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>//-->

            <p>This service will help you to:</p>
            <a href="whatsapp://send?text=Commodity%20link%20from%20STW%20Guidance%20Service%20https%3A%2F%2Fcheck-how-to-import-export-goods.service.gov.uk%2Fmanage-this-trade?commodity%3D0301110000%26originCountry%3DFR%26goodsIntent%3DbringGoodsToSell%26userTypeTrader%3Dtrue%26tradeType%3Dimport%26destinationCountry%3DGB%26importDeclarations%3Dyes%26importDateDay%3D01%26importDateMonth%3D09%26importDateYear%3D2022
">Test</a>
            <ul class="govuk-list govuk-list--bullet">
                <li>identify the correct commodity code for your goods</li>
                <li>check if you need a licence or other documentation to move your goods</li>
                <li>make sure you pay the right Customs Duty and import VAT</li>
                <li>complete import or export declarations and other paperwork</li>
                <li>understand rules of origin for the UK's trade agreements</li>
            </ul>

            <p>It will also help you check if your goods are covered by:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Agricultural Policy</li>
                <li>anti-dumping duties</li>
                <li>UK safeguarding measures</li>
                <li>tariff quotas</li>
            </ul>

            <h2 class="govuk-heading-s">What are commodity codes?</h2>
            <p>Commodity codes are 10-digit numbers that are used to identify and classify goods you want to
                import or export, so you can fill in declarations and other paperwork.
                You must use the right commodity code in customs declarations.</p>

            {# <h2 class="govuk-heading-s">Further service information</h2>
            <p>This service can also help you check whether:</p> #}

            {# <ul class="govuk-list govuk-list--bullet">
                <li>you need a licence to move your goods</li>
                <li>you could pay less Customs Duty (for example because your goods are covered by a trade agreement)</li>
                <li>your goods are covered by:</li>
                <li>Agricultural Policy, anti-dumping duties, safeguarding measures or tariff quotas</li>
            </ul> #}

            {# <p>Commodity codes classify goods for import and export so you can: </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>fill in declarations and other paperwork</li>
                <li>check if there's duty or VAT to pay</li>
                <li>find out about duty reliefs</li>
            </ul> #}

            {{ govukButton({
                text: "Start now",
                href: "/sections/",
                classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
                isStartButton: true
            }) }}

            {# <h2 class="govuk-heading-m">Before you start</h2>
            <p>If you're not sure how to classify your goods, check how to <a href="https://www.gov.uk/guidance/finding-commodity-codes-for-imports-or-exports">find the right commodity code</a>.</p>
            <p>&nbsp;</p> #}
        </div>
        <div class="govuk-grid-column-one-third">

            <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-s" id="subsection-title">Related content</h2>
                <p>Collection</p>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="https://www.gov.uk/government/collections/guidance-for-exporting-and-importing-businesses">Guidance for exporting and importing businesses</a>
                        </li>
                        <li>
                            <a class="govuk-link" href="The arts, culture and heritage sectors and the EU">The arts, culture and heritage sectors and the EU</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <div class="gem-c-contextual-footer">

                <div class="gem-c-related-navigation">

                    <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-c7e51674" data-module="gem-toggle">

                        <h2 id="related-nav-topics-c7e51674" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

                        <ul class="gem-c-related-navigation__link-list" data-module="track-click">

                            <li class="gem-c-related-navigation__link">
                                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-action="1.1 Explore the topic" data-track-label="/browse/business/exports" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Exporting and doing business abroad&quot;}" href="/browse/business/exports">Exporting and doing business abroad</a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-action="1.2 Explore the topic" data-track-label="/browse/business/imports" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Importing&quot;}" href="/browse/business/imports">Importing</a>
                            </li>
                            <li class="gem-c-related-navigation__link">
                                <a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-action="1.3 Explore the topic" data-track-label="/topic/business-tax/import-export" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Import, export and customs for businesses&quot;}" href="/topic/business-tax/import-export">Import, export and customs for businesses</a>
                            </li>

                        </ul>

                    </nav>

                </div>

            </div>

        </div>

    </div>
    <!-- Start of HubSpot Embed Code -->
    <!--<script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20005740.js"></script>//-->
    <!-- End of HubSpot Embed Code -->
{% endblock %}