{% extends "layout.html" %}
{% block pageTitle %}
Trade Tariff: News bulletin
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/sections/" + context.scope_id
},
{
text: "News bulletin",
href: ""
}
]
}) }}
{% endblock %}

{% block content %}
{% include "includes/language_selector.html" %}
<span class="govuk-caption-xl">
    {{ context.title }}
    {% include "includes/scope_switcher_panel.html" %}
</span>
<h1 class="govuk-heading-l">News bulletin</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% for story in news %}
        <div class="news">
            <div class="news_date">{{ story.date_formatted }}</div>
            <div class="news_story">{{ story.html | safe }}</div>
        </div>
        {% endfor %}
    </div>
    <div class="govuk-grid-column-one-third">
        {% include "includes/rss.html" %}
    </div>

</div>

{% endblock %}

</html>