{% extends "layout.html" %}
{% block pageTitle %}
    Trade Tariff: Latest news
{% endblock %}

{% block beforeContent %}
{% if news_story.primary_theme == "" %}
    {{ govukBreadcrumbs({
    items: [
    {
        text: "Home",
        href: "/sections/" + context.scope_id
    },
    {
        text: "Latest news",
        href: "/bulletin"
    }
    ]
    }) }}
    {% else %}
    {{ govukBreadcrumbs({
    items: [
    {
        text: "Home",
        href: "/sections/" + context.scope_id
    },
    {
        text: "Latest news",
        href: "/bulletin"
    },
    {
        text: news_story.primary_theme,
        href: "/bulletin/theme/" + news_story.primary_theme | uri_encode
    }
    ]
    }) }}

    {% endif %}
{% endblock %}

{% block content %}
    {% include "includes/language_selector.html" %}
    <span class="govuk-caption-xl">
        {{ context.title }}
        {# {% include "includes/scope_switcher_panel.html" %} #}
    </span>

    <div class="govuk-grid-row news_strategic">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                {{ news_story.headline }}
            </h1>
            <p class="govuk-body-l">{{ news_story.precis | safe }}</p>
        </div>
    </div>

    <div class="govuk-grid-row news_strategic">
        <div class="govuk-grid-column-two-thirds">
            <div class="news_story">
                {% include "includes/news/news_meta.html" %}
                {% include "includes/news/news_print.html" %}
                <p>{{ news_story.story | convert_markdown(false, true, true) | safe }}</p>
            </div>

            {% if news_story.primary_theme == "Tariff notices" %}
                {% include "includes/news/news_tariff_notice.html" %}
            {% elseif news_story.primary_theme == "Tariff stop press" %}
                {% include "includes/news/news_tariff_stop_press.html" %}
            {% endif %}

            {% include "includes/news/news_print.html" %}
        </div>
        <div class="govuk-grid-column-one-third noprint">
            <p>More content</p>
            <hr>
            <p>Collection</p>
            <p><a href="/bulletin?theme={{ news_story.primary_theme }}">{{ news_story.primary_theme }}</a></p>
        </div>

    </div>

{% endblock %}

</html>