<div id="super-search-menu" class="gem-c-layout-super-navigation-header__search-items" xhidden="hidden">
  <h3 class="govuk-visually-hidden">Search</h3>
  <div class="gem-c-layout-super-navigation-header__search-item">
    <a class="gem-c-layout-super-navigation-header__search-item-link" href="/search" hidden="hidden">
      <span class="gem-c-layout-super-navigation-header__search-item-link-text">
        Search GOV.UK
      </span>
      <svg class="gem-c-layout-super-navigation-header__search-item-link-icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
        <circle cx="10.0161" cy="10.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
        <line x1="15.8668" y1="16.3587" x2="25.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
      </svg>
    </a>
  </div>

  <div class="govuk-width-container gem-c-layout-super-navigation-header__search-and-popular">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <form class="gem-c-layout-super-navigation-header__search-form" id="search" action="/search" method="get" role="search" aria-label="Site-wide">
          <div class="gem-c-search govuk-!-display-none-print  gem-c-search--large gem-c-search--on-white gem-c-search--separate-label" data-module="gem-toggle-input-class-on-focus">
            <label for="search-main-f53601b4" class="govuk-label govuk-label--m">Search GOV.UK</label>
            <div class="gem-c-search__item-wrapper">
              <input enterkeyhint="search" class="gem-c-search__item gem-c-search__input js-class-toggle" id="search-main-f53601b4" name="q" title="Search" type="search" value="">
              <div class="gem-c-search__item gem-c-search__submit-wrapper">
                <button class="gem-c-search__submit" type="submit" data-track-category="headerClicked" data-track-action="searchSubmitted" data-track-label="/search/all" data-track-dimension="Search on GOV.UK" data-track-dimension-index="29" data-module="gem-track-click" enterkeyhint="search">Search        
                    <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                    <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                    <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>